[2018-11-23 06:31] m3rlin45 opened #4 "Install Flow installs a CPU only version of PyTorch"
The dependency_link in setup.py links to a wheel that doesn't support cuda

[2018-12-08 02:32] #4 closed, assigned to nobody

[2018-12-13 15:50] GitHub30 opened #91 "Guide and documentation link is not exist."
The following links is broken.

https://github.com/facebookresearch/pytext/blob/master/CLOUDS.md

https://pytext.readthedocs.io/installation.html

[2018-12-14 09:12] geof90 commented on #91
Thanks! We have linked to the right section in our [clouds](https://pytext-pytext.readthedocs-hosted.com/en/latest/installation.html#cloud-vm-setup) and [installation](https://pytext-pytext.readthedocs-hosted.com/en/latest/installation.html) docs from our README.

[2018-12-14 09:12] #91 closed

[2018-12-15 00:16] hohoCode opened #110 "Trying to understand the differences between Pytext, Allennlp and Torchtext?"
Thanks for the opensource. I am just trying to understand the differences between Pytext and Allennlp? Since both say they can help manage NLP experiments. Or what do you think on Pytext's advantage over Allennlp? THANKS!

[2018-12-15 06:08] matthew-z commented on #110
In my opinion
###  Pytext

* based on torchtext;
* supports distributed training;
* supports multi-task training;
* currently only supports some tasks.

### Allennlp
* Provides a lot of handful modules like Seq2VecEncoder, Seq2SeqEncoder.
* Provides a lot of handful utilities like  masked_softmax, masked_log_softmax .....  (You can get a lot of mask-related helper functions in AllenNLP, but there

[2018-12-15 07:58] braindead opened #111 "Seq2Label Example"
Is there documentation/example on how to use pytext for seq2label tasks?

[2018-12-15 09:02] ahhegazy commented on #110
**Torchtext** Provides a set of data-abstractions that helps reading and processing raw text data into PyTorch tensors, at the moment we use Torchtext in PyText for training-time data reading and preprocessing.

**AllenNLP** is a great NLP modeling library that is aimed at providing reference implementations and prebuilt state-of-the-art models, and make it easy to iterate on and research with mod

[2018-12-15 15:38] kevinew opened #112 "pytext export < config.json"
no such file: config.json

are you sure the model output is config.json?

[2018-12-15 17:18] seayoung1112 commented on #112
config.json is the config you used for training, not the trained model file

[2018-12-15 20:09] maxdel opened #114 ""Multitask training with disjoint datasets" tutorial does now include disjoint datasets"
If I understood it correctly, the tutorial shows multitask learning, but not disjoint datasets.

[2018-12-15 20:58] daiwk opened #115 "cannot import name '_prctl_pr_set_pdeathsig'"
## Steps to reproduce

on my osx

[code]

## Observed Results

when I run `pytext` it comes out:

[code]

[2018-12-15 21:10] seayoung1112 commented on #115
Could you try only
`pip install pytext-nlp`

Caffe2 is merged with PyTorch 1.0, which is already in the dependency list. Manually installing Caffe2 might introduce a wrong version

[2018-12-15 21:47] daiwk commented on #115
It works~
I tried to uninstall `caffe2` `pytext-nlp` and `torch`
then `pip install pytext-nlp`, then it works~
thank you very much~

[2018-12-15 22:03] #115 closed

[2018-12-15 22:09] Youlike708 opened #116 "<repository>"
## Steps to reproduce

  1. _____
  2. _____
  3. _____

## Observed Results

  * What happened?  This could be a description, log output, etc.
## Expected Results

  * What did you expect to happen?

## Relevant Code

[code]

[2018-12-15 22:12] xtagon opened #117 "Question regarding the output of the Hierarchical Intent and Slot Filling tutorial"
Hi,

I'm following the tutorial here: https://pytext-pytext.readthedocs-hosted.com/en/latest/hierarchical_intent_slot_tutorial.html

I was able to run the REPL and replicate the result from the last section of the tutorial, which takes this as input:

[code]

and returns something like this as output:

[code]

My question is, how is this data structure encoded, and how do I use it to parse "order

[2018-12-16 01:11] kevinew commented on #112
In readme,   suggest show the export example as:

 (venv) $ pytext export  < demo/configs/docnn.json

[2018-12-16 09:05] geof90 commented on #116
@Youlike708 Can you please fill in the issue template, otherwise I will close it as it is not actionable by us.

[2018-12-16 13:30] DomHudson commented on #112
My understanding is that you train from a configuration file, this will then save the output in a temporary location. Then, any further commands (such as `export`) using the same configuration file reference that temporary location somehow.

[2018-12-16 18:31] snisarg commented on #112
If you don't specify the '--model' option, it'll pick up the model location from config's save_snapshot_path; which defaults to '/tmp/model.pt'. Look at https://github.com/facebookresearch/pytext/blob/b79a93b510ca0ace5e73f4cad399a11c902594a9/pytext/config/pytext_config.py#L73
The idea of the config is to have 1 file which specifies all these details, including where the model file was created and

[2018-12-17 03:06] wby2016 commented on #112
Does the file 'config.json' exist in the project from the beginning or is it generated later?I had the same problem 'no such file: config.json', Did the ‘readme’  miss any steps, or could you detail the process?thank you!

[2018-12-17 05:41] m3rlin45 opened #119 "CircleCI status should reflect continuous runs, not latest PR"
## Steps to reproduce

  1. Submit a PR that has failing tests
  2. Observe that it makes the CircleCI icon on the readme red

[2018-12-17 07:52] int8 opened #120 "F1 is a harmonic mean, not geometric"
Hi,
I think there might be a tiny mistake in documentation:

https://github.com/facebookresearch/pytext/blob/master/pytext/docs/source/train_your_first_model.rst

F1 score is described as geometric mean but I think it is in fact harmonic.

[2018-12-17 12:23] whiletruelearn commented on #110
@ahhegazy Thanks for the comparison. Is there plan to bring `fasttext` also under `PyText`

[2018-12-17 16:34] u784799i opened #121 "No module named 'libfb'"
Excuse me, when I run the command there is a ModuleNotFoundError:

import libfb.py.mkl  # noqa
ModuleNotFoundError: No module named 'libfb'

what is libfb, and how to install it?

[2018-12-17 17:25] fsonntag opened #123 "Dropout ignored in BiLSTMSlotAttention"
## Steps to reproduce
In `bilstm_slot_attn.py#93-96` the computed dropout representation is not re-used.

## Observed Results
No results observed, but might have performance impact.

## Expected Results
Dropout value is being used.

## Relevant Code

[code]

A related question:
Is the used `SlotAttention` described somewhere? From looking at the code, it seems like a regular attention mechanism, b

[2018-12-17 17:40] snisarg commented on #121
Sorry, that was unnecessary. I'm going to remove that in a bit.

[2018-12-17 17:40] #121 closed

[2018-12-17 18:23] m3rlin45 commented on #116
I'm closing this, please open a new issue if you have a question.

[2018-12-17 18:23] #116 closed

[2018-12-17 18:51] borguz commented on #114
The tutorial explains how to do multitasking, where each task has its own (read disjoint) dataset.  This is in contrast to the case where there is a single dataset with each input text having multiple labels, one for each task.  Does this clear up the confusion?  If so I can add an explanation to the tutorial.  Thanks!

[2018-12-17 19:18] hikushalhere commented on #117
The `prediction` values are indices of the predicted actions. Given the actions vocabulary the ids should be converted to actual actions and given the action the tree structure is derived naturally. We will add the translation from id to string to make the predicted actions readable. Will that help?

[2018-12-17 19:23] xtagon commented on #117
@hikushalhere Yes that helps, thank you so much for the quick reply 👍

[2018-12-17 22:14] snisarg commented on #117
Closing issue as it seems resolved. Reopen for more questions. :)

[2018-12-17 22:14] #117 closed

[2018-12-18 02:00] bethebunny commented on #120
Yeah that's correct, will update :)

[2018-12-18 02:07] snisarg commented on #120
Updating with https://github.com/facebookresearch/pytext/pull/127

[2018-12-18 05:08] #120 closed

[2018-12-18 05:09] snisarg commented on #112
Closing this. If you have more questions, reopen this issue.

[2018-12-18 05:09] #112 closed

[2018-12-18 05:48] m3rlin45 opened #129 "Execute your First model tutorial doesn't match Train mdoel"
## Steps to reproduce
in the docs:
The example used in "train your first model" is docnn for alarm intent, however the example used for "execute your first model" is using ATIS, the gap in the example categories is confusing. We should make it match the docnn results for "train your first model" because:

* Users who are following the tutorials in order will expect it
* Users coming to this tutori

[2018-12-18 08:38] bethebunny commented on #111
You can see the config for seq2label models here:

https://pytext-pytext.readthedocs-hosted.com/en/latest/configs/pytext.task.tasks.SeqNNTask.Config.html

We'll add a demo for this eventually.

[2018-12-18 08:50] wuyunxiangwyx opened #130 "Can pytext support Chinese? If support, what should i do to train Intent-Slot model on Chinese Dataset."

[2018-12-18 09:02] moabaom opened #131 "Error calling pytext from command line"
I'm getting a syntax error at the very first step after installation of pytext. whether by calling pytext from command line or importing it in python shell I get the following error :

  $ pytext

[code]

any hints as to whats the issue?

[2018-12-18 16:02] m3rlin45 commented on #131
What version of Python do you have installed? We require python 3.6+, as you can see here: https://pytext-pytext.readthedocs-hosted.com/en/latest/installation.html

We should restore the warning on the README though, I guess it got lost in the shuffle of document creation.

[2018-12-18 16:52] snisarg commented on #131
Created https://github.com/facebookresearch/pytext/pull/132 to update README.

@moabaom from your trace, I see that you're using python 3.5. Please try with 3.6 or 3.7. Reopen this issue in case you're still seeing this error.

[2018-12-18 16:52] #131 closed

[2018-12-18 18:04] snisarg commented on #130
Currently, we have a very simple Featurizer which can work for English and similar languages only. We'll look into adding one for Chinese soon, but don't have immediate plans for it. We'll appreciate if you can send us a pull request though!

See a more detailed answer from @m3rlin45 here: https://www.facebook.com/groups/pytext/permalink/929836947224147/

[2018-12-18 18:04] #130 closed

[2018-12-18 18:22] snisarg commented on #123
This has been checked in, thank you so much for pointing out.

[2018-12-18 18:23] fsonntag commented on #123
Thanks @snisarg !
Can you maybe also give me a small hint about the question I asked in the last paragraph?

[2018-12-18 18:35] snisarg commented on #129
Looking at this.

[2018-12-18 21:14] snisarg commented on #129
Do we need to talk about ATIS on this page at all? As you said, coming to this page from ATIS are advanced users who know that the config file will change to the one they're currently playing with instead of the DocNN one.

I propose we get rid if any mention of ATIS on https://pytext-pytext.readthedocs-hosted.com/en/latest/execute_your_first_model.html, and replace the "Evaluate the model" output

[2018-12-19 00:37] m3rlin45 commented on #110
If you mean in the sense of unifying the projects, no, there are no plans. If you mean supporting fasttext models in PyText, we are evaluating that, as it is definitely a feature request we've heard.

[2018-12-19 01:12] m3rlin45 opened #138 "CircleCI Tests don't validate Black Formatting"
We are following the style of black (https://pypi.org/project/black/18.3a0/) for formatting on PyText, we should have the tests on CircleCI validate that

[2018-12-19 01:12] m3rlin45 commented on #138
We should also make it clear in `CONTRIBUTING.md`

[2018-12-19 12:07] #114 closed

[2018-12-19 12:12] maxdel commented on #114
The tutorial text itself does not include code that uses wikitext data, but by looking more closely into the [config file](https://github.com/facebookresearch/pytext/blob/0d1872312d4fd670ce3e388dd08c7deb85bbec8d/demo/configs/multitask_sst_lm.json#L54) everything becomes clear, thanks.

[2018-12-19 12:15] maxdel commented on #110
Thanks for the comparison, are there any plans for integration with [fairseq-py](https://github.com/pytorch/fairseq) and/or [translate-py](https://github.com/pytorch/translate)?

[2018-12-19 12:18] ahhegazy commented on #110
Yes, we are currently working on that!

[2018-12-19 18:00] #129 closed

[2018-12-19 18:09] #138 closed

[2018-12-19 18:15] snisarg commented on #111
@braindead does this look good? Do reopen this if you have more follow-ups.

[2018-12-19 18:15] #111 closed

[2018-12-19 19:24] bethebunny commented on #123
SlotAttention doesn't have great documentation, and should probably be split out into a few classes. The best way to understand it for now is to read the code: https://github.com/facebookresearch/pytext/blob/master/pytext/models/representations/slot_attention.py

Essentially there are 3 supported attention modes, Dot, Multiply and Add (called CONCAT in the code).
The core line in building the atte

[2018-12-20 01:17] m3rlin45 opened #142 "Find a way to make CircleCI artifacts get posted to PR's"
Right now, when CircleCI runs, we produce a couple of very useful html artifacts, in the form of a code coverage page, and the entire Documentation. It would be great if links to these artifacts were posted directly on the PR after the build/test was complete, allowing people to see the generated docs/code test coverage directly

[2018-12-21 01:06] silky opened #143 "how does one get attention values out of the predictions?"
thanks for this library! i've managed to try an simple mode and i'm excited to do more.

i'm using is config:

[code]

and following the tutorial i can train and get predictions. awesome!

but how do i find the attention?

it doesn't appear to be anywhere in the results of `pytext.create_prediction` ... ?

thanks for any help!

[2018-12-21 04:52] silky commented on #143
i've now gotten to the point that i've looked at the shapes of all the numpy arrays in `workspace.blobs`. there's one, with the informative name "107" that has the right dimension, but the values don't look right. nothing else has the right size

am i missing something here?

[2018-12-21 20:39] michaelcapizzi opened #145 "find_config_class only looks for pytest Tasks"
## Steps to reproduce

  1. build custom `<Task>`
  2. `pytext gen-dfeault-config [CustomTask]`

## Observed Results

[code]

  * What happened?  This could be a description, log output, etc.

I believe it's because  `utils.documentation_helper.find_config_class()` will only look at `pytext` modules (https://github.com/facebookresearch/pytext/blob/d998f753bf05131a375a0ba8f8c0f4626a8d6c48/pytext/ut

[2018-12-21 23:43] bethebunny commented on #143
Hey, we've only recently gotten this as a feature request, so we haven't really done anything explicit for making the attention weights exported. You're on the right track with looking in the caffe2 workspace blobs as the quickest way to get this to actually work without making code changes, although I can't give you a great answer about where these will be in the workspace blobs as I haven't had

[2018-12-22 00:33] silky commented on #143
thanks for that tip @bethebunny ; using the graph i was able to figure out which tensor it was

![image](https://user-images.githubusercontent.com/129525/50368486-4f6d8680-05dd-11e9-87b2-e590615ffffe.png)

(i picked node 110).

i'm happy with this hack for now, but also happy to be directed on how to add this into the codebase via a pr so that it's much nicer in the future :)

[2018-12-22 10:24] fizerkhan opened #149 "Not able to run the pytext"
I just follow the installation steps.

    python3.6 -m venv pytext_venv
    source pytext_venv/bin/activate
    pip3.6 install pytext-nlp

I am getting following error

[code]

I would like to see the help page of pytext.

How do I resolve it?

[2018-12-22 19:19] snisarg commented on #149
This is a class from the standard library, see
https://docs.python.org/3/library/typing.html#typing.Counter. It was introduced in Python 3.6.1. Can you use a newer version please.

[2018-12-22 23:49] fsonntag commented on #123
Alright, thanks a for the explanation!
So do I understand it then correctly that the Dot mode is not really an attention in the sense that we weigh different parts of the input? Because it does not have any trainable weights, but the output is just a transformation of the input

[2018-12-23 13:59] fizerkhan commented on #149
@snisarg Thanks. I am using Python 3.6.0. The docs says it works from Python 3.6 or above.

I have installed `Python 3.6.8rc1`. Now it works fine. The documentation has to be updated.

[2018-12-23 13:59] #149 closed

[2018-12-24 00:47] silky opened #151 "implement tensorboard support via the configs"
there's a `use_tensorboard` field, but it doesn't do anything, and there's a `summary_writer` that's used in the code, if it's configured, but it isn't. just need to expose these via the configs.

[2018-12-24 07:09] elans2 commented on #145
I have the same problem, can't generate config file using user task

[2018-12-24 16:19] hiepph opened #152 "TypeError: __init__() got an unexpected keyword argument 'dtype'"
I followed tutorial of ATIS on https://pytext-pytext.readthedocs-hosted.com/en/latest/atis_tutorial.html. On my way to step 3: `pytext train < sample_config.json` this error showed up:

[code]

This doesn't happen with [Train your first model](https://pytext-pytext.readthedocs-hosted.com/en/latest/train_your_first_model.html) tutorial.

[2018-12-25 02:14] snisarg commented on #152
This is the __init__() from torchtext.data.field: https://github.com/pytorch/text/blob/master/torchtext/data/field.py#L156, called from https://github.com/facebookresearch/pytext/blob/master/pytext/fields/field.py#L54

Are you using an older version of torchtext? Can you try updating it please.

[2018-12-25 04:04] snisarg commented on #145
@elans2 what error do you see when you comment that part of the code?
@Titousensei any reason to only allow pytext Tasks only?

[2018-12-25 05:52] ZhuoranLyu commented on #152
@snisarg same error,  using pip install with version pytext-nlp==0.1.2

[2018-12-25 05:55] snisarg commented on #152
@ZhuoranLyu what's the version of torchtext though? Try removing and adding that?

[2018-12-25 05:58] ZhuoranLyu commented on #152
@snisarg Thanks, I fix this. I upgrade torchtext to the newest version.

[2018-12-25 06:02] snisarg commented on #152
Did that solve the problem? Does it work now @ZhuoranLyu?

[2018-12-25 06:10] ZhuoranLyu commented on #152
@snisarg Yes, it works fine. Thx!

[2018-12-25 06:12] snisarg commented on #152
@hiepph can you try the same and let me know?

[2018-12-25 08:17] geof90 commented on #151
We will have better support and a tutorial on how to use TensorBoardX soon, stay tuned.

[2018-12-25 09:57] hiepph commented on #152
Thanks @snisarg. Updating `torchtext` to the latest version fix the problem.

Will close the issue for now.

[2018-12-25 09:57] #152 closed

[2018-12-26 18:49] m3rlin45 opened #154 "Generation of Config Docs doesn't work right with indentation"
things like the incorrectly formatted and indented "attributes" section here:
https://pytext-pytext.readthedocs-hosted.com/en/latest/configs/pytext.data.bptt_lm_data_handler.BPTTLanguageModelDataHandler.Config.html
are caused by the GoogleDocstring in Napoleon not properly handling indented docstrings that we use in our config classes.

I will work on unindenting them programmatically, as it looks

[2018-12-26 23:39] nlathia opened #158 "Example usage for pretrained_embeddings_path?"
Is there any documentation or examples for using pretrained embeddings?

Specifically, I've found that the config can take a `pretrained_embeddings_path`, which I assume is a path to a file containing embeddings- how is that file structured?

https://pytext-pytext.readthedocs-hosted.com/en/latest/configs/pytext.models.embeddings.word_embedding.WordEmbedding.Config.html

[2018-12-27 18:33] bethebunny commented on #158
The ATIS tutorial has an example of using the Stanford GloVe embeddings:
https://pytext-pytext.readthedocs-hosted.com/en/latest/atis_tutorial.html#download-pre-trained-word-embeddings
https://nlp.stanford.edu/projects/glove/

The format for these files is space-separated lines, where the first column is the word, and the remaining columns are ascii-encoded float values. For instance, for a 5-dimen

[2018-12-27 18:33] #158 closed

[2018-12-27 19:57] michaelcapizzi commented on #145
Update:

I was able to get it to work with a slight modification to `pytext.utils.documentation_helper.find_config_class()` (comments include the errors that I encountered):

[code]

As @elans2 noted, however, this only required *after* I imported the custom `Task`.  I'm not knowledgeable enough to know how to import those custom `Task`s before running `pytext gen-default-config` from the command

[2018-12-27 23:11] silky opened #169 "better tensorboard output: plot train/eval curves on different summaries so they appear on the same graph"
presently, the train/eval curves are plotted on different graphs (i.e. the same summary writer)

it's nicer to plot the train/eval curves under the same name, but _different_ summary writers, so they can be shown on the same graph.

[2018-12-27 23:37] silky opened #170 "graph is only added to tensorboard when exporter is present in the config"
it's probably best to always export the graph for viewing in tensorboard, if use_tensorboard is set.

the only problem i had when thinking about how to do this is that the add_graph function needs the dummy input; and that's only set when the exporter is defined.

so does it make sense to always have an exporter if use_tensorboard is true? i.e. some kind of simple "TensorboardExporter"?

[2018-12-27 23:38] geof90 commented on #170
We have a work item to decouple the dummy input from exporter, but it's not high priority fo us at the moment. If you want, you can take a stab at it and send a PR.

[2018-12-27 23:42] geof90 commented on #169
So they will go to two event files in two folders?
Currently it's also kind of cumbersome that the user has to manually specify the [`log_dir`](https://tensorboardx.readthedocs.io/en/latest/tensorboard.html#tensorboardX.SummaryWriter.__init__) that is date/time stamped, because we use the default constructor of `summary_writer()`. One suggestion I can think of is if we could specify in the config

[2018-12-28 00:10] silky commented on #169
i just set tensorboard to run against the `./runs` folder:

`tensorboard --logdir runs`, then i pick the run-name from the side:

![image](https://user-images.githubusercontent.com/129525/50497972-eaa8a500-0a90-11e9-8e8d-69ab22111986.png)

i think definitely having some kind of naming scheme for the runs definable in the config is nice, but not necessary (i've always liked seeing some of the main

[2018-12-28 00:13] geof90 commented on #169
It’s also not clear from the labels that one corresponds to train and one corresponds to eval, so I think a good solution will make that clear.

[2018-12-28 01:21] silky opened #171 "add attention visualisation via imgkit hacking"
related to #143 ; unfortunately tensorboard doesn't let you write arbitrary html to the text field ( see https://github.com/tensorflow/tensorboard/issues/830 ) but using [imgkit](https://pypi.org/project/imgkit/) it could be hacked in by way of an image.

this would be a really neat way to visualise the changing attention as the model trains. unfortunately, imgkit requires the dep wkhtmltopdf, but

[2018-12-28 04:35] silky opened #173 "self-attention model is missing the "hops" feature"
in the [original paper](https://arxiv.org/abs/1703.03130), there are two equations for attention, (5) and (6) (on page 3).

near as we can tell, in the code - https://github.com/facebookresearch/pytext/blob/master/pytext/models/representations/pooling.py#L22 - the ws2 tensor is of the wrong dimension; i.e. it's only of dim, in language of the paper, d_a instead of a matrix of r x d_a.

is this int

[2019-01-02 15:05] michaelcapizzi opened #178 "difference between word_feat and seq_word_feat"
Forgive me that this isn't quite an issue.  If there is a more appropriate forum for these kinds of questions, please let me know, and I'll close this.

But I'm wondering what the difference is between `word_feat` and `seq_word_feat` here: https://github.com/facebookresearch/pytext/blob/faccba193e28ce1b7e532052a14f55101b71a2e5/pytext/config/field_config.py#L60

Any insight would be greatly appreci

[2019-01-03 01:52] seayoung1112 commented on #178
seq_word_feat is only used for seq models right now (SeqNN and ContextualIntentSlot), the FeatureConfig class is a set of all possible features for all models right now, we'll break it down to let each model having it's own feature definition in future.

[2019-01-03 14:50] michaelcapizzi commented on #178
Thanks @seayoung1112 for the quick response.  Closing.

[2019-01-03 14:50] #178 closed

[2019-01-03 17:05] hikushalhere commented on #173
This is correct. The current implementation doesn't account for multi-hop attention. In effect it doesn't  implement equation (6) in the paper but stops at equation (5). Thanks for pointing it out. We will get back on the fix which requires introducing a new parameter `r` which controls the number of attention hops.

[2019-01-04 23:07] WilliamTambellini opened #190 "export to onnx"
## Steps to reproduce

  1. train for example the tiny CNN sentence classifier
  2. try to export the model to onnx :  "$ pytext export onnx < demo/configs/docnn.onnx"
  3. see it of course does nt work, the export format being hard coded to Caffe (IIUC)

## Observed Results
  export to default non onnx format
## Expected Results
  an standard onnx file at least for simple cnn based NN

## Relevan

[2019-01-07 05:41] ZhuoranLyu opened #191 "Dimension mismatch between representation layer and decoder layer"
## Steps to reproduce

  1.  pytext train < test.json
  2. test.json:
[code]

## Observed Results
[code]

## Expected Results

They should be the same size, [3840 x 1024] and [1024 x 256]

## Relevant Code

[https://github.com/facebookresearch/pytext/blob/fa0fea934bad76e9906c013e377ce80c77cbd5e4/pytext/models/representations/bilstm_slot_attn.py#L51](url)

I could open a pr to fix this.

[2019-01-07 06:18] puttkraidej opened #192 "export_caffe2_path for each task in DisjointMultitask mode"
I followed multitask demo,
$ pytext train < multitask_sst_lm.json

My issue is how do I export as caffe2 (.c2) for each tasks. I wanna train my own multitask and expect multiple binary-classifiers in return. The question is what should I do to export_caffe2_path if I needed outputs for each tasks??

[2019-01-07 21:45] jayrodge commented on #192
I'm adding following line in the config.json:
`"save_snapshot_path": "./model.pt",
    "export_caffe2_path": "./model.c2"`

But the model is not being saved, any idea?

[2019-01-08 01:54] puttkraidej commented on #192
The .pt one will be save but not for .c2, anyway how can we use the model by tasks then?

[2019-01-08 19:33] borguz commented on #192
Currently caffe2 export for multitask is not implemented.  I'll take this up this week.
For now, it's possible to save individual modules and load them into a single-task pytext run to export the model as workaround.

[2019-01-08 19:43] hikushalhere commented on #191
@ZhuoranLyu Please feel free to send us a PR for this.

[2019-01-08 19:52] hikushalhere commented on #190
Closing this since the task being #187.  Feel free to reopen if the issue is being closed in error.

[2019-01-08 19:52] #190 closed

[2019-01-08 19:56] hikushalhere commented on #173
@silky We had implemented single hop attention to get a simpler version working. Please feel free to send us a PR to add multi-hop attention.

[2019-01-08 21:35] hikushalhere commented on #170
@silky Do you have plans to send a PR for decoupling dummy input from exporter?

[2019-01-08 23:44] silky commented on #170
@hikushalhere unfortunately not; i don't have time to work on this one at the moment; but we are working on the #173 ; i just have to see if i can do a PR of it once i'm done.

[2019-01-09 00:15] Titousensei commented on #145
Thanks for reporting the issue and providing a fix. Yes, there's 2 issues here:
1) we only look at the module "pytext". That's a mistaked.
2) the new tasks are not registered in pytext main.
I'll submit a fix soon.

[2019-01-09 01:59] puttkraidej commented on #192
Thanks both of you @jayrodge @borguz, by the way how to save individual modules? I because I tried put save_snapshot_path under tasks{...} but, unfortunately it would work that way. I think I might did something wrong.

[2019-01-09 17:53] borguz commented on #192
You can set modules_save_dir in the PyText config, then can set save_path for each module you want to save.  save_path is relative to modules_save_dir.

[2019-01-10 02:05] puttkraidej commented on #192
@borguz  thanks once again for this suggested work around.

Anyway, even if I employed single-task mode (i,e,. DocClassificationTask), caffe2 export function still unworkable (only .pt came out as output). Then I decided to rely on,
`$pytext export --output-path <my_caffe2> < <my_single_task_config>`
and it works :)

[2019-01-10 18:55] borguz commented on #192
Should now be handled by https://github.com/facebookresearch/pytext/pull/197.
Add an export config to any sub-task to export the model.

[2019-01-10 18:55] #192 closed

[2019-01-10 22:59] silky opened #200 "can't store tensors in the "context""
in say `trainer.py`, just after the model is run, put something like this:

[code]

this gives an error:

[code]

coming from the use of deep_copy in the `./pytext/data/data_handler.py` here:

[code]

i'm trying to use the context to pass around some tensors that i want to use as part of other calculations/visualisations; but it doesn't seem supported.

am i missing some better way to do this?

[2019-01-11 09:34] dsalfran opened #202 "Running out of memory when training a text classifier"
PyText crashed running a text classification task with a large dataset.

## Steps to reproduce

  1. Build custom dataset with 450k examples where the texts have 350 words on average
  2. pytext train < config.json
where config.json is:
[code]

## Observed Results

  System crash due to lack of memory. The process was running in a system with 64 CPUs and 256 GB of memory.

## Expected Results

 I

[2019-01-14 22:36] hikushalhere commented on #202
@dsalfran Thanks for reporting the issue. Can you give an estimate of how big your dataset is (in GB) and if you expect it to fit in memory given your machine configuration?

[2019-01-15 01:00] hikushalhere commented on #200
@silky I was able to repro the exception locally. Yes, `context` is the way to pass batch level data for downstream usage (e.g., metric calculation). However, given the limitation that only Tensors created explicitly by the user can be used with deepcopy, one way to do this is to clone the Tensor.
`context["logits"] = [l.clone().detach() for l in logits]`

[2019-01-15 01:05] silky commented on #200
@hikushalhere cool okay; that's pretty much what i did

i had also tried to use the context to pass a tensor that i needed to be included in the gradients (when computing the penalty for the attention in the self-attention paper); in that case this approach would fail, right?

[2019-01-15 06:07] habout632 commented on #202
happens to me
dataset is 0.036GB=36MB
machine configuration is 32G(10G used) 　pytext will cost rest 22G when started

[2019-01-15 06:08] habout632 commented on #202
memory leaks heavily

[2019-01-15 06:56] m3rlin45 commented on #202
I worked with @habout632 on this in the support group, he had set up his data file columns as: [text, class], the default setting for "columns_to_read" is [class, text, dict_feat]. Once they set columns_to_read correctly, the problem went away. @dsalfran, can you confirm you don't have the same issue?

[2019-01-15 16:52] manuyavuz commented on #142
Hi there,

Would there be any interest of using a coverage tool such as https://codecov.io to report generated code coverage to the repository? If so, I can help with that.

Best

[2019-01-15 17:31] hikushalhere commented on #123
@fsonntag You're right that the DOT mode is only a transformation.

I am closing this issue since there isn't any actionable item here.

[2019-01-15 17:31] #123 closed

[2019-01-15 17:33] hikushalhere commented on #145
Closing the issue since the PR (#196 ) has been merged to master.

[2019-01-15 17:33] #145 closed

[2019-01-15 17:45] hikushalhere commented on #200
@silky Are you referring to the orthogonality constraint that's enforced by the penalty on attention matrix? If so, the penalty tensor should be user created and it shouldn't be a problem with deepcopy.

[2019-01-15 21:50] silky commented on #200
@hikushalhere what i meant was that _if_ i'm using the attention matrix in that calculation, i can't pass it in via the clone-detach, it can't be done via the context dict, it has to be done more directly.

[2019-01-15 21:50] #200 closed

[2019-01-16 07:06] habout632 opened #208 "can't find tensorboard event files in current working dir"
both with and without setting use_tensorboard=true, i can not find tensorboard event files in my current working directory.
my OS Is ubuntu 18

[2019-01-16 07:43] silky commented on #208
they go into the `./runs` folder

[2019-01-16 08:37] habout632 commented on #208
tensorboard doesnt generate runs directory dont know the reason

[2019-01-16 08:38] habout632 commented on #208
i am tring on windows maybe its related with os

[2019-01-16 08:45] geof90 commented on #208
Could you share your config and pytext version? We only recently added tensorboard support for SemanticParsingTask, so if you installed via pip and are using that task, tensorboard event files will not be generated

[2019-01-16 09:03] yanqiangmiffy opened #209 "The format of the training set for Sequence taggers task"
## Steps to reproduce

I want to ask what is the format of the training set if I want to do the word tagging task? Use the default JointModelDataHandler，Can give an example?

## Expected Results
Take a snapshot of the specific annotation method or content of the training set?

[2019-01-16 14:26] jankeromnes opened #210 "hypothesis.errors.InvalidArgument: Invalid argument: 'min_satisfying_examples' is not a valid setting"
Hello! I work on https://gitpod.io, and I'd love to try and make life easier for potential new PyText contributors by configuring Gitpod to support PyText development.

This would provide newcomers (and PyText maintainers) with free pre-configured workspaces in the cloud, allowing them to get started coding instantly, without having to first set up a complete development environment themselves.

I

[2019-01-16 16:20] dsalfran commented on #202
Thanks @m3rlin45, I added the correct value of "columns_to_read" to the configuration file and the problem went away!

[2019-01-16 16:20] #202 closed

[2019-01-17 01:36] habout632 commented on #208
its a JointTextTask

[2019-01-17 11:28] clefourrier opened #219 "Can't do basic POS tagging because PyText's WordTaggingTask expects int:int:string labels"
I am trying to do a simple POS tagging task, for which I am using CONLL data files (without blank or commented lines), and a JSON configuration file calling WordTaggingTask per the coding documentation. (See end of issue for complete configuration file). It does not detect the labels of the dataset properly.

## Steps to reproduce
- Download CONLL data files (such as [here](https://github.com/Univ

[2019-01-18 00:39] chenyangyu1988 commented on #209
@yanqiangmiffy check out joint_data_handler_test.py, there is sample data for test, will it help?

[2019-01-18 00:43] chenyangyu1988 commented on #210
The new hypothesis package break the test, we will build a new pip wheel to resolve the hypothesis error.

[2019-01-18 01:05] Titousensei commented on #210
New pip wheel pytext-nlp version 0.1.3 is uploaded. It should fix the issue. Please try it and re-open the issue if it does not work.

[2019-01-18 01:05] #210 closed

[2019-01-18 02:33] habout632 opened #221 "i cant find prf1 metrics in my console when model training is over"
actually by default it will output prf1 metrics to console channel, but when dataset is bigger, with more console result , console will replace previous content with current result. can we output these metrics into another file .and testout.txt doesnt contain these metrics result

[2019-01-18 03:39] yanqiangmiffy commented on #209
thanks

[2019-01-18 03:39] #209 closed

[2019-01-18 09:23] jankeromnes commented on #210
It worked! Many thanks 👍

[code]

[2019-01-21 11:43] maya-ami opened #227 "Stopping and resuming model training"
Couldn't find in the documentation whether it is possible to stop training at some point, save the resulting model and later resume training this model, rather than starting a new model from scratch.

[2019-01-21 18:36] T-tssxuan opened #228 "multi GPU problem"
### Problems
- I had run this demo **pytext train < demo/configs/distributed_docnn.json**, but I got problem ```TypeError: can't pickle _thread.lock objects```. I have inspected the code, it seems to the pickle.Pickle cause this problem.
- in the **main/train_model_distributed** function, used to optimizing OOM, but it introduce this problem.

### ENV
- python: miniconda(https://conda.io/miniconda

[2019-01-22 04:15] SeanLee97 opened #229 "How to predict batch input datas?"
Firstly, thanks for the library!
I have a problem that I can’t  predict batch input datas, I use the `pytext.create_predictor` to get a `predictor` but  looks like it can only predict one input data, for example `{"raw_text": "sentence"}`. I want to process batch datas like `[{"raw_text": "sentence 1"}, {"raw_text": "sentence 2"}…]`, it is inefficient to use a for loop to call predictor, so is it

[2019-01-22 07:00] habout632 opened #230 "can i specify channel in metric reporter in config file"
seems that we can't do this now

[2019-01-22 23:40] chenyangyu1988 commented on #228
Thank you for the feedback, we will take a look at it

[2019-01-23 00:06] chenyangyu1988 commented on #228
Sending a PR to fix this issue

[2019-01-23 09:55] Vivicai1005 commented on #117
Hi~ Have you added this translation function?

[2019-01-23 12:56] clefourrier commented on #219
Please tell me if there is any further information you might need to reproduce the bug.

[2019-01-23 16:26] aatkinson opened #234 "TypeError: gen_dataset_from_path() got an unexpected keyword argument 'rank'"
# Environment:

Python 3.7 with Miniconda on Ubuntu 16.04, pytext-nlp==0.1.3 installed from pip.

# Description

Keyword arguments `rank` and `world_size` aren't allowed to `gen_dataset_from_path` in `pytext/data/data_handler.py`, invoked through `pytext/pytext/main.py:train_model`

Calling the function with these as positional arguments resolves the issue.

[code]

[2019-01-23 18:58] Titousensei commented on #230
That's correct, by default the metric reporter emits to all relevant channels. Please elaborate: what's your use case and an example of what you would like to do?

[2019-01-24 02:36] Vivicai1005 opened #238 "rnng model CUDA error: initialization error"
**Problems:**

I had set the "use_cuda_if_available" to be true in the rnng.json file and run pytext train < demo/configs/rnng.json. Then got "RuntimeError: CUDA error: initialization error" and "RuntimeError: Input and hidden tensors are not at the same device, found input tensor at cuda:0 and hidden tensor at cpu"

**ENV**
1. Python 3.6.5 :: Anaconda, Inc.
2.NVIDIA-SMI 390.30

Thanks so much!

[2019-01-24 03:48] seayoung1112 commented on #238
Hi @Vivicai1005, RNNG model is trained by Hogwild trainer which only runs on CPU now

[2019-01-24 19:10] erip opened #240 "Core dumps when running the example"
## Steps to reproduce

1.  git clone git@github.com:facebookresearch/pytext.git
2.  conda create -n pytext -y
3.  conda activate pytext
4.  conda intall pip
5.  pip install pytext-nlp
6.  pytext train < demo/configs/docnn.json
7.  pytext test < demo/configs/docnn.json
8.  pytext export --output-path exported_model.c2 < demo/configs/docnn.json

## Observed Results

[code]

## Expected Results

  *

[2019-01-24 19:56] erip commented on #240
Downgrading to Python 3.6 yields:

[code]

[2019-01-24 20:33] Titousensei commented on #229
Thanks for the suggestion. I'll add that to the list of future improvements.

[2019-01-24 20:55] Titousensei commented on #240
Repro confirmed on linux (ubuntu). Works on mac.

[2019-01-24 21:06] erip commented on #240
FWIW:

[code]

[2019-01-24 21:32] chenyangyu1988 commented on #234
Did you use some old versions? The new have https://github.com/facebookresearch/pytext/blob/master/pytext/data/data_handler.py#L289-L296

[2019-01-25 00:20] houseroad commented on #240
A related PR https://github.com/facebookresearch/pytext/pull/241, which pin onnx version in requirements

[2019-01-25 06:44] lonngxiang opened #243 "pytext export (Context: Bad node spec) anybody can help"
## Steps to reproduce

  1. _____
  2. _____
  3. _____

## Observed Results

  * What happened?  This could be a description, log output, etc.
## Expected Results

  * What did you expect to happen?

## Relevant Code

[code]

[2019-01-25 12:47] erip commented on #240
My system had onnx 1.4.1. Once I pinned it to 1.3.0, it still segfaults with python 3.7.2; it completes successfully with python 3.6.8.

[2019-01-25 20:57] Titousensei commented on #243
No information in the description, that's bad. Likely duplicate of #240.

[2019-01-25 20:57] #243 closed

[2019-01-28 07:00] WilliamTambellini opened #248 "docnn onnx export failure on ConstantFill"
## Steps to reproduce

  1. install fresh (2019 Jan 27) pytext :
python3.6 -m venv pytext_venv
source pytext_venv/bin/activate
pip install pytext-nlp
  2. train docnn :
pytext train < demo/configs/docnn.json
pytext export < demo/configs/docnn.json
  3. see error: Context: Bad node spec: input: "75" output: "76" op_type: "ConstantFill" attribute { name: "input_as_shape" i: 1 type: INT }

## Observe

[2019-01-28 07:07] WilliamTambellini commented on #248
A onnx model file has been generated in /tmp/
protoc --decode_raw < /tmp/model.onnx
2: "pytorch"
3: "0.4"
7 {
  1 {
    1: "embedding.0.word_embedding.weight"
    1: "tokens_vals"
    2: "15"
    4: "Gather"
 ...
[docnn.onnx.txt](https://github.com/facebookresearch/pytext/files/2801762/docnn.onnx.txt)

[2019-01-28 07:13] WilliamTambellini commented on #248
The generated onnx file is openable through netron
https://lutzroeder.github.io/netron/
and I indeed see 2 ContantFill ops, just after a Concat op and just before the LSTM cell.
Node prop:
input_as_shape : 1
inputs : id 75
outputs : id 76

[2019-01-28 16:52] oneil512 commented on #248
A work around for now is just to upgrade onnx to 1.4.1 while you are exporting.  I would guess if we fix the compatibility issues with the latest version of onnx and pytext then this issue would also be fixed as a result.

[2019-01-28 17:54] WilliamTambellini commented on #248
Tks. Well, looks like
pip install pytext-nlp
did install the latest onnx, meaning 1.4.1 :
$ more pytext_venv/lib64/python3.6/site-packages/onnx/version.py
# This file is generated by setup.py. DO NOT EDIT!
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from __future__ import unicode_literals
version = '1.4.1'
git_version = '9e55ace55aad

[2019-01-28 18:56] oneil512 commented on #248
There is an open issue with the example code seg faulting from an incompatibility with onnx 1.4.1 and the solution was to downgrade to 1.3.0. I think the requirements.txt has onnx 1.3.0 now as well. But that seems to cause this problem.

[2019-01-28 19:20] WilliamTambellini commented on #248
Hum, requirements.txt indeed requests onnx 1.3 :
onnx==1.3.0
but
pip install pytext-nlp
installed 1.4.1.
Tks.

[2019-01-29 21:36] aatkinson opened #254 "Project roadmap?"
Hi,

The goals are ambitious, the codebase is in flux, and future directions are outlined in your paper https://arxiv.org/pdf/1812.08729.pdf, but it's unclear what the roadmap is for this project.

What release cadence can we expect, and what features are prioritized?

I'm also curious if this has a substantial backing by Facebook / the PyTorch team.

Thanks

[2019-01-31 03:22] WilliamTambellini opened #257 "disjoint_multitask_tutorial doc not up to date"
## Steps to reproduce

  1. Follow the tutorial
https://pytext-pytext.readthedocs-hosted.com/en/latest/disjoint_multitask_tutorial.html
  2. download and unzip wikitext-2-v1.zip
  3. Try to clean empty lines:
cd base_dir/wikitext-2
$ sed -i '/^\s*$/d' train.tsv

## Observed Results

  * What happened?
sed: can't read train.tsv: No such file or directory

## Expected Results
sed command to point to

[2019-01-31 19:16] ahhegazy commented on #254
Great questions :)

As for the road map, we are mainly working on 5 main areas (roughly sorted according to priority):

- Enriching and Improving our stack with more tasks, models and techniques
- Improve Usability and have better integration with ipython notebooks
- Performance optimizations for training and inference
- Explore model interpretability techniques

For the release cadence, we will d

[2019-01-31 19:37] aatkinson commented on #254
Neat, this is all good to know, thanks Ahmed.

I'm looking forward to seeing more model and task examples, particularly advanced ones.

Also that release blog post link appears to be broken for me, or at least inaccessible. I'm assuming it's the same as this one? https://code.fb.com/ai-research/pytext-open-source-nlp-framework/.

[2019-01-31 20:39] ahhegazy commented on #254
Yes, this is the right link.

[2019-02-01 14:56] maxdel commented on #254
Thanks for the answer @ahhegazy! Does integration with fairseq fall under the 1st area?

[2019-02-01 19:42] ibulu commented on #254
I am curious about the fairest integration as well. Any plans on that?

[2019-02-01 20:23] ahhegazy commented on #254
Yes, we are working on integrating with translate: https://github.com/pytorch/translate/tree/master/pytorch_translate which is Fairseq models with production support

[2019-02-03 05:01] xtagon opened #262 "pytext.config.serialize.ConfigParseError when training the example for hierarchical intent and slot filling"
## Steps to reproduce

  1. Read the tutorial here: https://pytext-pytext.readthedocs-hosted.com/en/latest/hierarchical_intent_slot_tutorial.html
  2. Follow the steps up to and including `pytext train < demo/configs/rnng.json`

## Observed Results

  * An error is produced from the training command:

[code]

## Expected Results

  * I expected it to train the model

## Relevant Code

Here is a sn

[2019-02-03 06:11] xtagon commented on #238
I'm also getting `AttributeError: 'NoneType' object has no attribute 'export_output_names'`

[2019-02-04 06:54] SwathiYanture commented on #191
Any resolution for this incidence? even we are facing the same issue.
Our config data is:
"model": {
          "representation": {
            "BiLSTMSlotAttention": {
              "lstm": {
                "dropout": 0,
                "lstm_dim": 366,
                "num_layers": 2,
                "bidirectional": true
              },
              "slot_attention":{
                "attenti

[2019-02-04 15:59] oneil512 opened #263 "Any plans to support the use of elmo embeddings?"
Hoping to use elmo embeddings to train an lstm model.

[2019-02-05 04:32] SwathiYanture commented on #191
This issue is resolved on making the following change in the source code:

In bilstm_slot_attn.py changing  self.representation_dim: int = self.lstm.representation_dim to  self.representation_dim: int = word_representation_dim  resolved this issue.

The decoder dimension is set from representation_dim whose dimension is changed if slot attention sub-layer is included in the representation layer.

[2019-02-05 14:28] puttkraidej opened #267 "Seem like char_feat broke the program, perhaps sharing char_feat and word_feat while training using disjoint multitasks mode"
## Steps to reproduce

  1. my pytext repo cloned from `commit 5d0e6af0092b7cb02cbc873e9733e47729b1e982
Author: Haoran Li <aimeeli@fb.com>
Date:   Thu Jan 10 18:13:00 2019 -0800`
  2. `$pytext train < myconfigfile`
  3. I got this error message
`Traceback (most recent call last):
  File "/home/jod/pytext/pytext_venv/bin/pytext", line 11, in <module>
    load_entry_point('pytext-nlp', 'console_scri

[2019-02-05 15:17] puttkraidej commented on #267
FYI
I also tried the most recent commit
`commit 70c1b4361eed09b11c32a8c4a1def8807e573351
Author: Barlas Oguz <barlaso@fb.com>
Date:   Mon Feb 4 11:01:33 2019 -0800

    export target model to default path

    Summary: Pull Request resolved: https://github.com/facebookresearch/pytext/pull/264

    Differential Revision: D13933847

    fbshipit-source-id: 40a0c576d729d6c2ce1b6c7028ecaabcc42f19d7`

[2019-02-06 03:34] puttkraidej commented on #267
It's my fault, I force the LM task to have char_feat which I found out later that it's not available (correct me if I'm wrong)
I employed char_feat to single Doc classification task and it works smoothly. By the way, when it comes to multitask (multiple doc classification tasks) I got this error
`RuntimeError: CUDA error: device-side assert triggered`
quickly guess I just have had my own resource

[2019-02-06 03:34] #267 closed

[2019-02-08 01:24] wowitsmrinal commented on #238
Hey @Vivicai1005

The RNNG model currently doesn't support ONNX export because of its dynamic graph. As an alternative, we plan to make PyTorch 1.0 JIT support available in time.

[2019-02-08 01:24] #238 closed

[2019-02-08 01:30] arbabu123 commented on #262
Thank you @xtagon for figuring out the issue. We will send out a fix soon.

[2019-02-08 19:54] arbabu123 commented on #262
Feel free to reopen the issue if you still face it. Thanks.

[2019-02-08 19:54] #262 closed

[2019-02-09 13:57] akanshajainn opened #283 "nothing happens when exporting ulmfit model to caffe"
## Steps to reproduce

  1. pip install pytext-nlp
  2. pytext export --model ../models/model.h5 --output-path model.caffe

Dependency : Pytorch 1, Python 3.6, pytext-nlp==0.1.2

## Observed Results
[code]
## Expected Results

I was expecting that for given pytroch model (model.h5), it will save the caffe model (model.caffe). Instead it didn't give any error and was stuck giving no output. I had t

[2019-02-10 19:47] snisarg commented on #283
It's waiting for the model config (which is required, besides the pytorch model) from the stdin.

You can redirect your config like it's done in https://pytext-pytext.readthedocs-hosted.com/en/latest/execute_your_first_model.html#export-the-model.

[2019-02-10 20:21] WilliamTambellini opened #284 "Uprade to ONNX 1.4.1"
## Steps to reproduce

  1. install pytext : see requirements.txt imposes onnx 1.3
  2. export a pytext model to onnx
  3.  the onnx file is limited to onnx opset 8

## Observed Results
  * What happened?  onnx 1.3
## Expected Results
 onnx 1.4.1

https://github.com/onnx/onnx/releases/tag/v1.4.1

[2019-02-11 07:24] akanshajainn commented on #283
*You can also pass in a configuration **to infer some of these options.** In this case let’s do that because depending on how you’re following along your snapshot might be in different places!*

Instead of passing the model through config, I am passing it through options given. What's the difference?
Does it need more than the pytorch model and output model name ? If yes, then why isn't mentioned?

[2019-02-11 19:31] snisarg commented on #283
I looked into the code. Looks like we are reading the config off of the model file, so don't really need it if the "--model" is specified.

I'll file a task for this. We welcome your contribution too. :) In the meantime, just pass any config to unblock yourself.

[2019-02-11 19:34] snisarg opened #285 "For export, options should be config OR model file, not both"
## Steps to reproduce

Based on https://github.com/facebookresearch/pytext/issues/283

While exporting, we are reading the exporter config from the model itself. In that case, we don't really need the config file. The export options should be either specify the config file OR give a model.

## Observed Results
Even when a model is specified, the process is waiting for the config from stdin. Logica

[2019-02-11 19:35] snisarg commented on #283
We'll track the code fix in the referenced issue.
Thanks for bringing this up.

[2019-02-11 19:35] #283 closed

[2019-02-12 14:09] ArunkumarRamanan opened #291 "pytext vs bert"
## Steps to reproduce

  1. _____
  2. _____
  3. _____

## Observed Results

  * What happened?  This could be a description, log output, etc.
## Expected Results

  * What did you expect to happen?

## Relevant Code

[code]

[2019-02-12 14:20] geof90 commented on #291
Is there a specific question you are asking? Can you fill in the description?

[2019-02-13 08:42] maya-ami opened #295 "Unable to export a model into caffe2"
## Steps to reproduce

  1. Follow the example "Execute your first model" in the documentation.
  2. Successfully trained the model.
  3. But now unable to export the model to caffe2: when running `pytext export --output-path exported_model.c2 < demo/configs/docnn.json` the following errors arise:

## Observed Results
Traceback (most recent call last):
  File "/home/anaconda3/bin/pytext", line 11,

[2019-02-13 08:44] aneuraz opened #296 "RNNG prediction error"
## Steps to reproduce

  1. train a RNNG model
  2. load the model
  3. try to predict an utterance

## Observed Results

Prediction fails due to a ValueError : `ValueError: not enough values to unpack (expected 2, got 1)`
[code]

The problem seams to come from the function `get_predict_iter` of the `DataHandler` class, lines 668-673:

[code]

In our context the batch_size is not None but we still

[2019-02-13 10:46] ovarene commented on #208
On macosx 10.13, python 3.6.5, pytext-nlp 0.1.2, tensorboardX 1.6
with or without config.use_tensorboard boolean flag positioned in configuration
no "./runs" directory created, nor tensorboard events files created

[2019-02-15 19:13] maxdel commented on #254
@ahhegazy Another quick question, does multilingual modeling support is still on the radar?
Also really interested regarding fairseq timing question.

And thanks for sharing this codebase with the community!

[2019-02-18 12:33] ovarene commented on #296
if you perform the same test with 2 example entries, you have the same issue :(

returning the Iterator is an issue in itself

[2019-02-21 15:40] swaroopgrs opened #319 "Support for mixed-precision training"
I am not sure if there is a way to do it already? But, is there is any roadmap for mixed-precision support may be using Amp 1.0?

[2019-02-21 16:48] swaroopgrs commented on #319
Just read the paper and there is a plan to add FP16 support. If you think mixed-precision is covered there you can close the issue.

[2019-02-22 08:55] puttkraidej commented on #295
I faced the same issue after updated to commit #da0d62749895319c9af9467dcac245b69dde7b29

[2019-02-22 21:47] chenyangyu1988 commented on #319
@swaroopgrs Yeah, we are working on mixed precision training using Apex.amp and Apex.fp16_utils.

[2019-02-25 09:11] aneuraz opened #332 "Documentation for the use of pretrained embeddings with RNNG"
Hello,

The PR #239 by @hikushalhere is about adding support for pretrained embeddings with RNNG. It might be a naive question but I could not find any supporting documentation. would it be possible to have more information about the procedure? or even an example ?

Antoine

[2019-03-03 13:38] slowtokyo commented on #262
A similar issue came up with the `DocClassificationTask.Config` @ https://pytext-pytext.readthedocs-hosted.com/en/latest/configs/pytext.task.tasks.DocClassificationTask.Config.html

In the newest version of pytext it seems the default values for the trainer parameter needs to remove the random seed parameter and change from:
[code]
to
[code]

[2019-03-05 08:05] PathricLee opened #362 "install follow the steps in the official installation page, but run command pytext get the error "no caffe2""
## Steps to reproduce

  1. install follow the steps in official page.____
  2. run the pytext command get the error: "ModuleNotFoundError: No module named 'caffe2"___
  3. pip install caffe2 and the get the error:  "ModuleNotFoundError: No module named 'tools.setup_helpers'"

[2019-03-05 13:26] slowtokyo opened #364 "Execute your first model tutorial is not reproduce-able"
At first glance this seems similar to #129 but is not the same. As background, I was getting some errors with pytorch not being able to read an exported model through the flask app tutorial, so I decided to regress to see if we could read the most basic model which is the docnn.json demo config in the beginning of the tutorial. That also failed. So I started over again with a clean virtual environ

[2019-03-07 21:53] hikushalhere commented on #332
This PR supports the scenario where the featurizer implementation you use is capable of generating a vector of floats for the sentence passed to the it. `SimpleFeaturizer` in PyText doesn't support it. You have to implement your own that can run a model or call a service or look up from a file to get the token embeddings for a given sentence ,e.g., ELMo.

Configuring pretrained embeddings in your

[2019-03-19 09:52] abb4s opened #412 "while exporting LM model pytext gives error :AttributeError: 'NoneType' object has no attribute 'export_output_names'"
## Steps to reproduce
I want to create a language model by pytext trained on Shekspeare corpus
and make a simple test by generating some text with this model. so first I tried to export the model and then predict using exported model (I'm not sure this is the right way).
  1.this is how my config file looks like :
`
{
    "task": {
        "LMTask": {
            "features": {
              "share

[2019-03-28 17:55] houseroad commented on #240
I adding wheel for python 3.7 as well. Hopefully, that may solve the problem.

[2019-03-29 12:19] abb4s commented on #412
(Facebook is in Holiday !) please some one correct me!

[2019-03-30 02:13] habout632 opened #432 "use word embedding to featurize user input"
how can i specify word vectors when i use atis.py to predict intent and slots?
i cant find where to config

[2019-04-01 23:15] jingfeidu commented on #412
Hi @abb4s, could you add labels in your config and try to export it again? For example,
`
{
"task": {
"LMTask": {
"features": {
"shared_module_key": "SHARED_EMBEDDING",
"word_feat": {
"vocab_file": "vocab.txt",
"vocab_size": 2715,
"vocab_from_train_data": false
}
},

**"labels": {},**

        "data_handler": {
          "LanguageModelDataHandler": {
            "train_path": "shekspeare2.txt",

[2019-04-03 09:21] abb4s commented on #412
thanks @jingfeidu. the error removed but when I run predict commend like this :
`pytext --config-file lmlstm.2.json  predict --exported-model lmlstm.2.c2 <<< '{"raw_text": "the"}'`
the output is :
`Install apex from https://github.com/NVIDIA/apex/.
Loading model from lmlstm.2.c2
Model loaded, reading example JSON from stdin
{}`
the output is empty. I need to generate text but it dosen't give any i

[2019-04-07 23:53] aerinkim opened #451 "pytext.config.serialize.ConfigParseError: Unknown fields for class Optimizer.Config with fields set() detected in config json: {'lr', 'type'}"
## Steps to reproduce

  1. pytext-nlp (0.1.4), Ubuntu 16.04, Python 3.6.8 :: Anaconda
  2. Using the same config file on https://pytext-pytext.readthedocs-hosted.com/en/latest/atis_tutorial.html
  3. pytext train < sample_config.json

## Observed Results

(san) aerin@capa:~/Desktop/NLService/models/select_column/cnn$ pytext train < select_config.json
No config file specified, reading from stdin
T

[2019-04-08 03:17] stucou opened #452 "How to add customized module in build-in tasks"
Hi all,
Do we have any method to add a new module to build in tasks?

For example, I'd like to add my own Representation module into DocClassificationTask,I find in DocModel.Config, the representation is defined as union of three predefined module, but I'd like to use my subclass of Representation.

Thanks a head for any reply!

[2019-04-08 08:28] stucou commented on #432
Hi all,
it seems that I have the same question as @habout632.

- When I train the model:
[code]

It takes long time loading embedding (the file is 5.3G, so it should take long time), and prints:
[code]

- but when I test the model:
[code]
It's super fast and doesn't print load embedding message

- I also try to load model and config in code as following:
[code]
It also loads very fast.

- In the p

[2019-04-09 08:28] deepali-c commented on #296
Even I observed this issue while trying this example:
`ValueError: not enough values to unpack (expected 2, got 1)`

@aneuraz, suggestion to use additional condition for `batch_size >1` helps avoid this error.
However, the output observed is different from what is expected:
[code]

[2019-04-10 19:35] mghmgh1281375 opened #462 "Running out of memory when training a language model"
## Steps to reproduce

  1. pytext train < language_model.json

## Observed Results

  Runing out of memory on loading dataset phase. (used memory ~ 40GB)
  all_text_lined_light_train.txt    1.9G
  all_text_lined_light_test.txt    242M

## Relevant Code
language_model.json
[code]

[2019-04-11 02:30] EnzoLiang opened #463 "How to resume training the model"
How to resume training the model which is trained finish.

[2019-04-11 23:50] mwu1993 commented on #462
Unfortunately, this seems possible at the moment, as the framework is not super memory-efficient. In the new data design (e.g. https://github.com/facebookresearch/pytext/blob/master/demo/configs/new_docnn.json), the data should be streamed instead of being fully loaded into memory, which should help. The LM task hasn't been migrated though :(

[2019-04-13 03:09] piccadimn commented on #463
I think Control + C may be used to resume .

[2019-04-15 08:28] AnakTeka opened #476 "Tutorial: PyText Models in your app does not work"
## Steps to reproduce

  1. Folllowing tutorial from here https://pytext-pytext.readthedocs-hosted.com/en/latest/atis_tutorial.html
  2. Run flask server from this tutorial with newly trained model from step 1 https://pytext-pytext.readthedocs-hosted.com/en/latest/pytext_models_in_your_app.html

## Observed Results

  * The flask server did not output any values although the predictor able to pred

[2019-04-15 12:05] udaybmi commented on #296
I added the additional condition for batch_size >1 in the function get_predict_iter, but still facing the same issue.

**Prediction** fails due to a ValueError : ValueError: not enough values to unpack (expected 2, got 1)

@aneuraz

[2019-04-15 17:57] mwu1993 commented on #463
Currently, you can specify the "save_path" and "load_path" of any module, which will resume training with the same parameters for those modules. (This can be done for any module whose config is a subclass of ModuleConfig - https://github.com/facebookresearch/pytext/blob/master/pytext/config/module_config.py).

Full model checkpointing isn't supported yet to my knowledge, but that's something that

[2019-04-17 21:58] tang-john opened #484 "Installation issue with certifi"
## Steps to reproduce

  1. pip install pytext-nlp

## Observed Results

Installation starts with files being downloaded. Error occurred when  certifi was found. Installation stops.
Collecting future==0.17.1 (from pytext-nlp)
Requirement already satisfied: typing==3.6.6 in /opt/anaconda3/lib/python3.6/site-packages (from pytext-nlp) (3.6.6)
Requirement already satisfied: numpy==1.16.2 in /opt/anac

[2019-04-19 11:05] puttkraidej opened #488 "File "/home/jod/pytext/pytext/pytext/models/representations/bilstm.py", AttributeError: module 'torch.onnx' has no attribute 'is_in_onnx_export"
## Steps to reproduce

  1. _____
  2. _____
  3. _____

## Observed Results

  * What happened?  This could be a description, log output, etc.
## Expected Results

  * What did you expect to happen?

## Relevant Code

[code]

[2019-04-19 11:05] puttkraidej opened #489 "While I employ LMTtask I got this error message >> File "....pytext/models/representations/bilstm.py", AttributeError: module 'torch.onnx' has no attribute 'is_in_onnx_export'"
## Steps to reproduce

  1. My pytext install from git+https://github.com/facebookresearch/pytext.git@ab5a021c03dd96425103bcd9e2542670f462c623#egg=pytext_nlp
  2. torch.__version__ >> '1.0.1.post2'
  3. and here is my config file

{
	"config": {
		"task": {
			"LMTask": {
				"features": {
					"load_path": null,
					"save_path": null,
					"freeze": false,
					"shared_module_key": null,
					"w

[2019-04-19 14:21] aneuraz commented on #332
Hi @hikushalhere,

I cannot figure how to make this work. Would it be possible to have a working example ? with all the modified files ?

[2019-04-20 04:37] puttkraidej commented on #488
sorry, wrong posted

I closed it.

[2019-04-20 04:37] #488 closed

[2019-04-20 07:41] puttkraidej commented on #412
I faced the same error, even if I added "labels": {} in config file :(

[2019-04-20 07:41] #489 closed

[2019-04-22 03:21] experiencor commented on #489
how did you solve this

[2019-04-22 03:40] puttkraidej commented on #489
set
"exporter": {}
and
"labels": {}

@experiencor

[2019-04-22 10:03] Sanjeev2487 opened #498 "Bert Support ?"
Hi,
Is there any plan to add support for BERT under pytext ?
If not can anyone explain the steps to use BERT here for text classification and slot extraction ?

[2019-04-24 22:23] mwu1993 commented on #476
I'm not very familiar with this model and label names, but maybe we can join consecutive spans automatically? Something like

[code]

If this works for you, I can make a short PR.

[2019-04-25 21:22] bethebunny commented on #498
We're working on a similar model called BiTransformer which is not ready to be open sourced, but we have tentative plans to.

We don't have active plans on integrating HuggingFace, but would welcome contributions to add it, as I think that would be particularly valuable to PyText users.

To use these models, you generally need to replace the Embedding component in a DocClassification or WordTaggin

[2019-05-06 18:43] jianwolf opened #553 "NER demo does not work after add one token"
## Steps to reproduce

This is the config file.
[code]

If the test_ner.tsv is a one liner:
`10:22:datetime,28:56:reminder/todo	remind me Monday night that get doe with work 12 Tuesday	`, then the config can work
But if I add another token, like:
`10:22:datetime,28:56:reminder/todo	remind me Monday night that get doe with work 12 Tuesday Tuesday	`

Then got ```Traceback (most recent call last):

[2019-05-11 08:41] Ishaan28malik commented on #227
I guess something like  train.MonitoredTrainingSession should be added as seen #463 also talks about the same issue .
@seayoung1112 are u looking to it ?
@Titousensei

[2019-05-11 08:44] Ishaan28malik commented on #463
@EnzoLiang #227 also talks about the same issue , I suppose they are resolving it .

[2019-05-13 20:29] wowitsmrinal commented on #476
Fixed by https://github.com/facebookresearch/pytext/pull/570
Thanks for reporting!

[2019-05-13 20:29] #476 closed

[2019-05-15 07:00] i4never commented on #452
DocModel is deprecated now.
What I find is :
![image](https://user-images.githubusercontent.com/10850020/57754792-dd2f4700-7721-11e9-8389-ff74c03a97fa.png)
Maybe ``create_fn`` is what u need if you want custom representation module.
From an old friend :)

[2019-05-15 10:14] puttkraidej commented on #462
I faced the same issue too
my training set is less than 5G and I have 32G for memories :(

[2019-05-25 04:33] bratao opened #628 "Support arbitary long sequences"
Hello Team, thank you for this awesome work!

For some tagger tasks we have an arbitrary long sequence size. And right now Pytext requires to set a fixed size beforehand for each sequence.

This size cannot be too big, because of vanishing gradients problem( for RNN) and the non convergence of LSTM.

https://machinelearningmastery.com/handle-long-sequences-long-short-term-memory-recurrent-neural-n

[2019-05-30 04:03] megupta opened #641 "'DocumentClassificationTask' object has no attribute 'exporter'"
## Steps to reproduce

1. Fresh install of Ubuntu 17.04
2. Install essential libraries; python 3.6.7
3. Install CUDA 10.0
4. Install torch
5. Install apex
6. Install pytext via source (includes onnx 1.5.0)
7. Trying example: train, test, export

## Observed Results
Export fails

:pytext export < demo/configs/docnn.json
No config file specified, reading from stdin
Exporting /tmp/model.pt to caffe2

[2019-05-30 04:22] seayoung1112 commented on #641
@Titousensei could you take a look?

[2019-05-30 04:45] Sanjeev2487 opened #642 "Slot tagger limited to extract maximum two words?"
Hi,
I have trained an intent and slot tagger using "BiLSTMDocSlotAttention".  However, model always predicts maximum of two words a slot and fails to predict more than two words.
Example: In same query by varying the actual slots it extracts last two word only ?

- Given slot: "<some initials> to 203, lincoln avenue, santa clara",   detected: "santa clara"

- Given slot: "<some initials> to 203, l

[2019-05-30 17:45] hikushalhere commented on #642
@Sanjeev2487 , there's no limit to the number of tokens that the slot tagging model can predict. This could be an issue with tokenization. Are you using the default featurizer implementation in PyText, i.e., SimpleFeaturizer? If so, please beware that the tokenizer in SimpleFeaturizer's default tokenizatino strategy is splitting on spaces. See https://github.com/facebookresearch/pytext/blob/master

[2019-06-06 05:33] Sanjeev2487 commented on #642
Hi @hikushalhere,
Your explanation makes sense and I see some improvements that can be achieved there. But issue is ocuring even if the comma is not present. For examples,
"_**golden gate bridge**_" → only "_**gate bridge**_" gets detected as entity. So there may be something else going on as well which I'm not able to figure out.

[2019-06-07 17:44] Yuhuishishishi commented on #553
Yes, I am encountering the same problem. Did you find a way to resolve this @jianwolf ?

[2019-06-10 06:45] jianwolf commented on #553
@Yuhuishishishi No I didn't... Could you let me know if you find a way? Thanks!

[2019-06-18 01:08] puttkraidej opened #701 "created_predictor API in python wrapper has not been updated to align with pytext-nlp==0.2.0, AttributeError: 'DocumentClassificationTask.Config' object has no attribute 'features'"
## Steps to reproduce

  1. pytext-nlp==0.2.0 (python > 3.6)
  2. both gpu and cpu setting

## Observed Results

  * I faced this error msg, while I tried to follow the same instruction in python shell
$pytext.create_predictor(config, model_filepath)

AttributeError: 'DocumentClassificationTask.Config' object has no attribute 'features'

## What did you expect to happen?

I expected model to be cr

[2019-06-23 07:56] Meai1 commented on #701
just tried it with the latest from github:

[code]

[2019-06-23 14:53] mahanswaray opened #719 "Where is the /tmp folder"
## Steps to reproduce
I tried the basic demo docnn.json config, i successfully trained and tested my model
it says the model is stored in tmp/ folder. so are the test results
but where is this /tmp folder.
i can't find it anywhere, i have used a virtual env.
  1. _____
  2. _____
  3. _____

## Observed Results

 Should the tmp folder create on it own but it's not?
## Expected Results

  * What di

[2019-06-23 22:17] r-wheeler commented on #701
Just ran into the same issue..

[2019-06-24 08:09] fantasy commented on #701
Ran into the same issue too.

[2019-06-28 13:08] deepali-c commented on #285
I think this is resolved by the PR - https://github.com/facebookresearch/pytext/pull/433.

[2019-07-01 08:34] deepali-c commented on #295
I think this is resolved now by the PR- https://github.com/facebookresearch/pytext/pull/271

[2019-07-01 14:48] deepali-c commented on #701
Even I ran into this issue.

[2019-07-02 04:07] deepali-c commented on #701
Appears related to https://github.com/facebookresearch/pytext/issues/641

[2019-07-02 09:26] rhubain commented on #701
Same issue too

[2019-07-03 04:58] silky opened #747 "tsv data source with delimiter set to "," doesn't respect quoted strings"
suppose your csv is

[code]

the tsv thing doesn't respect the quoted string, when i specify the delimiter as `","`.

[2019-07-09 03:24] Jongchan opened #755 "Questions on the implementation of AUCPR loss"
First of all, thank you for sharing the implementation. It helps a lot since I want to try out this loss term.

https://github.com/facebookresearch/pytext/blob/0a77e34e555750311ede54514c3c85b133b258f3/pytext/loss/loss.py#L242

The implementation seems to follow the loss form in eq12 in the paper (multiplied by 1-alpha).

My questions are as follows:
(1) why not use the exact form of equation 12? w

[2019-07-09 07:54] Jongchan commented on #755
Just found out that the term is meaning less. closing the issue.

[2019-07-09 07:54] #755 closed

[2019-07-10 07:04] deepali-c opened #759 "New API plan"
I am curious to know if we have any information on timeline w.r.t completion of implementation of  the New API.
Will there be a `v0.2.1` soon?

[2019-07-11 21:25] Titousensei commented on #219
The new PyText version (released as 0.2.0) should give you the capabilities to do that. Look at the documentation for "Custom Data Format" and "Creating A New Model", that looks like what you're asking.

[2019-07-11 22:23] Titousensei commented on #759
The new API implementation is complete as of 0.2.0. Is there anything you think is missing?
The next v0.2.1 will be a bug fix without breaking changes (hopefully).

[2019-07-11 22:25] Titousensei commented on #284
Latest version uses onnx 1.5.0

[2019-07-11 22:25] #284 closed

[2019-07-11 22:26] Titousensei commented on #285
@snisarg is this still relevant?

[2019-07-11 22:27] Titousensei commented on #291
No info, closing.

[2019-07-11 22:27] #291 closed

[2019-07-11 22:28] Titousensei commented on #295
Looks resolved. Closing.

[2019-07-11 22:28] #295 closed

[2019-07-11 22:30] snisarg commented on #285
@deepali-c we'll be happy to receive a push request with the updated documentation. :)

[2019-07-11 22:30] snisarg commented on #285
We can close this after the documentation is updated.

[2019-07-11 22:38] Titousensei commented on #452
You can use `--include` to your command line to import your own components. There's a full example in the tutorial "Creating A New Model".

[2019-07-11 22:39] Titousensei commented on #462
The new data design with streaming is out with v0.2.0. Please try it and let us know if it solves your issue.

[2019-07-12 05:25] deepali-c opened #774 "Issues observed with Custom Data Format example"
## Steps to reproduce
Follow the steps at - https://pytext.readthedocs.io/en/stable/datasource_tutorial.html#

## Observed Results
1. `AttributeError: 'AtisIntentDataSource' object has no attribute 'intent'`
[code]
A solution for this is available at https://github.com/facebookresearch/pytext/pull/564

2. Next observed the following error:
[code]
I resolved by handling `BrokenPipeError` in `my_cla

[2019-07-12 17:50] Titousensei commented on #774
Thanks for the feedback.
- as you observed, issue 1 is already solved.
- for issue 2, BrokenPipeError is often caused by truncated files. Handling it as an exception might hide the fact that your files are corrupted. Could you verify that yours are complete? Mine have 4978 rows for train and 893 for test.
- how did you resolve issue 3? --include my_classifier tells PyText to look into the director

[2019-07-12 18:26] Titousensei commented on #719
I'm guessing you're on Windows. Can you look in `C:\temp\` to see if the files are here?

[2019-07-12 18:44] borguz commented on #628
I would suggest just chunking you input into fixed-sized lengths and training on that.  As you mention, it's difficult for RNN's to models very long context.  So I doubt you'll lose anything by doing this.
That being said, the BiLSTM representation module does support passing in state:  https://github.com/facebookresearch/pytext/blob/f35987dc7c9c4e5f26aad9bb2ac1ae398063c788/pytext/models/represent

[2019-07-12 18:47] borguz commented on #263
We don't currently have a way to load ELMo embeddings.  We have support for BERT models.  Would that serve your use case?

[2019-07-12 19:13] mahanswaray commented on #719
No I'm using a mac

On Fri, Jul 12, 2019, 11:56 PM Eric Gaudet <notifications@github.com> wrote:

[2019-07-16 14:44] roschuhsnr opened #784 "FileNotFoundError: [Errno 2] No such file or directory: '/tmp/model.pt'"
Hi, I am having issues while completing the pytext "Train your first modell" demo (https://pytext.readthedocs.io/en/master/train_your_first_model.html).

When training the demo/configs/docnn.json file i have troubles with following error:
FileNotFoundError: [Errno 2] No such file or directory: '/tmp/model.pt'
Anybody knows this issue? Thanks a lot for future answers.

Edit:
I am using Windows 10 a

[2019-07-16 17:19] chenyangyu1988 commented on #784
You just need to change a path in windows. /tmp is for Linux

[2019-07-16 17:19] #784 closed

[2019-07-17 01:04] erikyao commented on #755
Hi @Jongchan! I also come to question (2). Could you please explain why it's meaningless?

[2019-07-17 19:53] Titousensei commented on #719
On a mac the directory /tmp should exist (virtual env or not should not make a difference). You can try the following command in a terminal: `ls /tmp/`. If you exported your model you should see a file file `/tmp/model.caffe2.predictor`. The test results should be in `/tmp/test_out.txt`.

[2019-07-17 20:20] Titousensei commented on #641
I think this is resolved. (It works for me on a fresh install from source.) @megupta can you confirm?

[2019-07-17 21:59] megupta commented on #641
This is fixed with latest release.

[2019-07-17 21:59] #641 closed

[2019-07-18 06:08] deepali-c commented on #774
@Titousensei, I had resolved three above by adding the following in `add_include` method in `builtin_task.py`

[code]

[2019-07-18 06:10] deepali-c commented on #759
Thanks @Titousensei, for your response. I had observed some issues and had read in the FB group that more changes are needed in the Predict API.

By when can we expect `v0.2.1` with the fixes.

[2019-07-18 21:03] Titousensei commented on #759
We're looking at the list of known issues prioritizing them for the next releases. v0.2.1 should be released in early August at the latest.

[2019-07-18 21:06] Titousensei commented on #701
Issue is fixed in source. Will be in upcoming release v0.2.1. Closing.

[2019-07-18 21:06] #701 closed

[2019-07-19 00:48] #719 closed

[2019-07-19 00:48] #759 closed

[2019-07-19 00:59] Titousensei commented on #553
I can't reproduce the issue with "WordTaggingTask", which is "NewWordTaggingTask" renamed in the last version. What command did you run? Was it `pytext train < ner.json`? Is the issue still happening to you?

[2019-07-19 01:01] #219 closed

[2019-07-19 04:54] deepali-c commented on #759
Thanks @Titousensei, this helps.

[2019-07-20 04:33] ishalyminov opened #807 "Undefined symbol: _Py_ZeroStruct on importing (coming from caffe2)"
## Steps to reproduce

  1. install pytext-nlp @ git+https://github.com/facebookresearch
  2. `python -c 'import pytext'`

## Observed Results
[code]
## Expected Results

Correct loading

## Relevant Code

I'm running setup.py of this module: https://github.com/microsoft/dstc8-meta-dialog/blob/master/setup.py

Running this on Python3.7 under conda, with CUDA 10.0 - tried both the one installed sys

[2019-07-22 03:22] ishalyminov commented on #807
turns out it was the problem of the system's environment

[2019-07-22 03:22] #807 closed

[2019-07-22 10:18] puttkraidej commented on #462
@Titousensei, thank you very much
I tried v0.2.0 according to your advise, unfortunately I got this error message

my config file is

            "TSVDataSource": {
              "column_mapping": {},
              "delimiter": "\t",
              "eval_filename": "file",
              "field_names": ["text"],
              "test_filename": "file",
              "train_filename": "file"

[2019-07-26 18:43] snisarg commented on #747
@Titousensei can we close this?

[2019-07-27 02:57] ishalyminov opened #842 "How to pass/override config parameters via command-line options?"
## Steps to reproduce

  1. `pytext gen-default-config JointTextTask`

## Observed Results

ERROR - Cannot create this config because some fields don't have a default value: Failed to specify {'labels'} for <class 'pytext.task.tasks.JointTextTask.Config'>

  * What happened?  This could be a description, log output, etc.
## Expected Results

Config json created

  * What did you expect to happen?

[2019-07-27 18:21] ducalpha opened #844 "Relax build_docs for merging pulls requests automatically"
I found that 80% of the pull requests to the open source PyText are not automatically merged because the document build (`build_docs`) fails. The most common (if not the only) error is
[code]

This is because `canonical_path()` in `pytext/docs/make_config_docs.py` returns an identical value:
[code]

One of the reasons is the `ComponentMeta` only rewrites `__name__` of the `Config` class.

I believ

[2019-07-29 17:56] snisarg commented on #844
We should fix the build_docs issue rather than relaxing the requirements for quality, especially since this is open source. This will only incentivize lowered standards for checking in. It gets very hard to recovery from there IMHO.

[2019-07-30 03:49] hikushalhere commented on #842
@Titousensei can you please help Igor with the correct way to supply config params?

[2019-07-30 06:34] ishalyminov commented on #842
more context here: https://stackoverflow.com/questions/57245081/pytext-providing-config-parameters-via-command-line

[2019-07-30 23:28] bethebunny commented on #844
I think the 80% here is misleading, this is mainly because these PRs were downstream of merged push which broke the build. This happens mainly for ModelInputs, so we can special case this rule for ModelInputs, or work towards fixing configs generally.

[2019-08-01 19:37] Titousensei commented on #842
This article you linked is using an older version of PyText, probably v0.1.0. The new version of PyText will try and load this older version of a config and try to convert it to the latest version, but his is not always possible to do automatically, and it seems to be the case here.

As you suggest, it's better to start fresh from a new config with the latest version. `JointTextTask` is not suppor

[2019-08-02 07:27] deepali-c opened #868 "Multi user support for generated models"
Currently the output models are generated under` /tmp` by default.
However this leads to permission denied errors in a scenario when training is run by one user first and then is run by another user.

[code]

[2019-08-02 16:15] ishalyminov commented on #842
@Titousensei thanks! So with the `IntentSlotTask` example working for me, here's my original question. Say, I want to generate this config but override some of the parameters right away via the `options` argument, e.g.:

[code]

for which I get:
[code]
(The above example might look weird but I have my specific use-case in which it makes more sense.)
What is the correct way to provide such an optio

[2019-08-02 18:09] Titousensei commented on #842
@ishalyminov, this is not currently possible, but it's coming soon with pull request #856 where you will be able to do:

  `pytext gen-default-config IntentSlotTask eval_batch_size=1`

In the mean time, you need to manually edit your config to set `"eval_batch_size": 1` in the json file.

[2019-08-02 18:29] ishalyminov commented on #842
Got it, thanks!

[2019-08-02 18:29] #842 closed

[2019-08-07 01:46] ButteredGroove opened #879 "Attribute error during prediction step of hierarchical intent and slot filling example"
## Steps to reproduce

  1. Ubuntu 16.04, Python 3.7, CUDA 9.0 install
  2. pip3 install pytext-nlp
  3. git clone https://github.com/NVIDIA/apex
  4. cd apex
  5. pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" ./
  6. cd ..
  7. wget https://fb.me/semanticparsingdialog
  8. unzip top-dataset-semantic-parsing.zip
  9. Grab yourself a copy of https://github.c

[2019-08-07 01:48] ButteredGroove commented on #879
I forgot to mention: this is based on the [hierarchical intent and slot filling tutorial](https://pytext.readthedocs.io/en/master/hierarchical_intent_slot_tutorial.html).

[2019-08-09 06:25] deepali-c commented on #285
I am not able to submit a PR at the moment could you please add a change for this too.

[2019-08-11 02:57] vinicius-alves opened #894 "Label_wheights are apparently not being loaded"
Hello guys!

I'm trying to load some label_weights using JSON below:

https://github.com/vinicius-alves/Selecao-Genero-Musical/blob/master/Resultados%20PyText/lstm/docnn.json

It seems to me that they are not loaded, because the precision/recall of minority classes has not increased. Also when I put classes that are not in the dataset the warning "these labels are filtered from original label weig

[2019-08-12 18:54] JiesiZhao077 commented on #364
Hi! I've updated the tutorial and you should be able to follow the documentation and get non-zero accuracy now. Let me know if you encounter any issue :)

[2019-08-12 19:20] borguz commented on #894
Could you provide a minimal example with data, possibly using one of the demo configs, so I can try to reproduce it?

[2019-08-12 19:21] #628 closed

[2019-08-12 19:21] #263 closed

[2019-08-12 19:24] borguz commented on #879
pytext predict-py is currently broken.  Thanks for reporting the issue, we're working on fixing it.

[2019-08-12 19:26] borguz commented on #879
Actually, the related issue seems to be closed, are you still seeing the issue based on the latest code? https://github.com/facebookresearch/pytext/issues/701

[2019-08-12 19:28] borguz commented on #319
This is supported.  Set use_fp16: true

[2019-08-12 19:28] #319 closed

[2019-08-12 19:33] borguz commented on #498
BERT models are now supported for document classification, although export support is still coming.  Look for bert_classification_models.py

[2019-08-12 19:36] borguz commented on #462
Can you try setting this to false: https://github.com/facebookresearch/pytext/blob/975f31f6f6e06688eaa0fafc93eef33c8a55e1d1/pytext/data/data.py#L204

[2019-08-12 21:58] ButteredGroove commented on #879
I had been installing from pip, not the repo.  So, I did a fresh install of pytext following the instructions here: https://pytext.readthedocs.io/en/master/installation.html#install-from-source

However, when I run pytext I'm getting the following error:
[code]

[2019-08-13 09:29] i4never opened #902 "Model export issue"
Hi all.
There's some problem during exporting model. I tried example in doc, model.caffe2 and model.onnx generated normally. But when I train my own model, only model.pt generated. I tried export cmd but nothing generated with cmd exit "successfully".
## Steps to reproduce
  1. Train a model.``model.pt`` in current dir. No``./model.caffe2.predictor`` or ``model.onnx``
  2. Export using ``pytext ex

[2019-08-14 01:49] hudeven commented on #902
@i4never thanks for reporting this issue! I'm working on a fix for it.

Root cause: caffe2_export() is not implemented for some models like PairwiseModel. https://github.com/facebookresearch/pytext/blob/af1d1dca4db373601c9dbb84dfb0767ed435a840/pytext/models/pair_classification_model.py#L103

[2019-08-14 02:21] i4never commented on #902
So load model from config file using ``create_model`` is the only way. Am I right?
https://github.com/facebookresearch/pytext/blob/cbcaa37b3bb20dee7a6997ea847e50c488e56a57/tests/module_load_save_test.py#L63

[2019-08-14 06:14] i4never commented on #902
Looking forward. Model could be exported to caffe2 and onnx is one of the great feature.

[2019-08-16 09:21] deepali-c commented on #879
I observed this issue with `pytext v0.2.2` today.

[2019-08-19 05:55] deepali-c opened #919 "TypeError while executing atis tutorial"
## Steps to reproduce

Followed the steps at https://pytext.readthedocs.io/en/master/atis_tutorial.html with `pytext v0.2.2`.

## Observed Results
[code]

## Expected Results
The training should succeed.

[2019-08-20 09:06] deepali-c commented on #919
This has been fixed by the following PR on master branch - https://github.com/facebookresearch/pytext/pull/915.

applying this patch to `v0.2.2` leads to the following issue at predict:

[code]

[2019-08-20 12:40] deepali-c opened #922 "absolute paths in atis_joint_config.json"
Observed following absolute paths in `atis_joint_config.json`:

[code]

[2019-08-20 17:48] Titousensei commented on #747
Fixed in release 0.2.2

[2019-08-20 17:48] #747 closed

[2019-08-20 17:49] #452 closed

[2019-08-20 18:21] hudeven commented on #919
@deepali-c thanks for reporting this issue. The root cause is: data_processor.py is outdated. It doesn't generate column 'doc_weight' and 'word_weight' in the training data.

A quick walk-around is to add them manually to each data file(with doc_weight=0.2, word_weight=0.5). e.g.
awk '{print $0"\011"0.2"\011"0.5}' demo/atis_joint_model/atis.processed.val.csv > demo/atis_joint_model/atis.processed.

[2019-08-21 00:19] shreydesai opened #925 "PyText repo description"
Would it be possible to change the description of this repo? A "language modeling" framework could refer to the actual task of language modeling rather than what this framework is trying to support -- building representations of language in an efficient, reusable way.

[2019-08-23 07:20] deepali-c commented on #774
I tried this with `v0.2.2` and observed the following:
#1 is resolved
#2 is now observed as:
[code]
#3 is still seen and I changed `builtin_task.py` to get it to work.
#4 is not seen, training is successful.

[2019-08-23 08:33] deepali-c opened #934 "RuntimeError: bool value of Tensor with more than one value is ambiguous"
## Steps to reproduce
Execute steps to test Custom Tensorizer - https://pytext.readthedocs.io/en/master/tensorizer.html

## Observed Results
[code]

## Expected Results
The test should pass.

[2019-08-23 08:37] deepali-c commented on #934
Updating code locally to correctly compare the tensors at the end helps here.
The example in the document needs to be updated likewise:

[code]

[2019-08-25 09:54] JasbirCodeSpace commented on #484
Add the following to the pip command-line to ignore the uninstall:

 --ignore-installed certifi

[2019-08-26 12:22] deepali-c opened #937 "error during training with pytorch v1.2.0"
## Steps to reproduce
Execute atis example using the steps at  https://pytext.readthedocs.io/en/master/atis_tutorial.html
`pytext train < sample_config.json`

## Observed Results
[code]

## Expected Results
The training should succeed without errors.

[2019-08-27 05:16] deepali-c commented on #937
Yes, in my case too training completes.

[2019-08-27 05:25] deepali-c commented on #934
Thanks @hudeven :-) .

[2019-08-28 09:55] deepali-c commented on #934
One more thing, there is an additional bracket at the following line -
`words_tensors, seq_len_tensors = tensorizer.tensorize(numberized_rows))`

[2019-08-28 10:48] deepali-c commented on #919
A similar change `raw_text => text` is needed in the `flask_app` example https://pytext.readthedocs.io/en/master/execute_your_first_model.html at the following line:
[code]

[2019-08-30 23:50] ButteredGroove commented on #879
Wondering if there's more news on this front?  Thanks!

[2019-09-02 11:39] snakecy opened #946 "DocModel_Deprecated.Config' object has no attribute 'inputs'"
## Steps to reproduce

by running :
[code]
## Observed Results

error raised:

AttributeError: 'DocModel_Deprecated.Config' object has no attribute 'inputs'

[2019-09-11 07:10] snakecy commented on #946
@mwu1993 I used the sst2.json format. the command as following:
[code]

[code]
everything seems will.

but when to meke a simple app.
(https://pytext.readthedocs.io/en/master/execute_your_first_model.html)

the error turns out.

[2019-09-11 20:39] mwu1993 commented on #934
https://github.com/facebookresearch/pytext/pull/971

[2019-09-11 20:39] #934 closed

[2019-09-17 14:36] puttkraidej commented on #902
I have similar issue too, but my task is SquadQATask

[code]

***I install pytext using `pip install pytext-nlp` (pytext-nlp==0.2.2)

I also tried using `pytext export --output-path qna.predictor.c2 < myconfig.json`,
turns out that nothing happen except this message
[code]
caffe2 and onnx models are still not found :(

[2019-09-23 02:14] snakecy opened #991 "label_weights format"
## Steps to reproduce

  1. _____what's the format of label_weights?
  2. _____how to decide the weight value?
  3. _____

## Observed Results

  * What happened?  This could be a description, log output, etc.
## Expected Results

  * What did you expect to happen?

## Relevant Code

[code]

[2019-09-23 02:34] snakecy opened #992 "AssertionError: target_prob must be set to True for KD losses"
## Steps to reproduce
target_prob is set to true, and the error raised.

  1. _____
  2. _____
  3. _____

## Observed Results

  * What happened?  This could be a description, log output, etc.
## Expected Results

  * What did you expect to happen?

## Relevant Code

[code]

[2019-09-25 21:54] #925 closed

[2019-09-27 20:09] ButteredGroove opened #1012 "Hierarchical intent and slot filling demo is broken"
## Steps to reproduce

Follow the instructions here: https://pytext.readthedocs.io/en/master/hierarchical_intent_slot_tutorial.html

## Observed Results
[code]

## Expected Results
This:
https://pytext.readthedocs.io/en/master/hierarchical_intent_slot_tutorial.html#test-the-model-interactively-against-input-utterances

## Relevant Code

See attached.
[pytext_bug.txt](https://github.com/facebookres

[2019-09-27 20:15] ButteredGroove commented on #879
I split off the problem of the demo failing to train with v0.2.2 into it's own issue.  Once that's fixed maybe we can revisit the issue here about predictions not working.

[2019-09-27 21:40] ButteredGroove commented on #1012
I get the same error if I have apex installed as well.
[pytext_apex_bug.txt](https://github.com/facebookresearch/pytext/files/3664614/pytext_apex_bug.txt)

[2019-10-02 02:53] snisarg commented on #1012
@ButteredGroove can you try from github master instead of the pip release and let us know?

[2019-10-02 02:59] snisarg commented on #991
label_weights is a "string: float" dictionary format. There are code references in the project. I urge you to have a look.

[2019-10-02 16:47] snisarg commented on #902
Since we're transitioning to TorchScript, we're in a weird state where we may not support Caffe2 and for newer models even TorchScript for exporting. Note that you can still use PyTorch models for inference.

[2019-10-02 16:47] snisarg commented on #992
Can you paste the error and the config you're using please.

[2019-10-02 16:50] snisarg commented on #937
This is a TensorBoard warning. I'm not entirely sure if the work we're doing on TensorBoard will fix this, but let's go back to this in case the error persists. I'm hoping updates will fix it.

[2019-10-02 16:50] #937 closed

[2019-10-02 17:23] ButteredGroove commented on #1012
Hi @snisarg .  The issue is in the github master.  Please refer to line 75 of https://github.com/facebookresearch/pytext/files/3664614/pytext_apex_bug.txt

[2019-10-08 01:34] snakecy commented on #992
@snisarg
the config likes :
`
{
  "config": {
    "task": {
      "DocClassificationTask": {
        "features": {
          "word_feat": {
            "embed_dim": 128,
            "embedding_init_strategy": "zero",
            "pretrained_embeddings_path": "train/token_vec_128.bin"
          }
        },
        "featurizer": {
          "SimpleFeaturizer": {
            "sentence_markers": null

[2019-10-08 03:30] snakecy commented on #991
@snisarg
Thanks a lot . BYW, how to assign the weight value, for example:
[code]
the value1, value2, value3 should be assigned as '0.2, 0.6, 0.2' or ' 1.0, 3.0, 2.0' ?
Are weights set in intervals?

[2019-10-09 02:02] #902 closed

[2019-10-14 04:48] aptperson opened #1049 "Dense Features config for DocumentClassificationTask returns MissingValueError"
I'm trying to uses dense features with text for a classification task, using the latest config versions and I’m using:
torch==1.2.0
torchtext==0.4.0
pytext-nlp==0.2.2
Python 3.7.4

And I keep getting the following error:
  File "/opt/conda/envs/py37/lib/python3.7/site-packages/pytext/config/serialize.py", line 193, in config_from_json
    f"missing value for {field} in class {cls_name} with json {

[2019-10-14 10:07] hengchao0248 commented on #1012
I met the same bug.
`        try:
            while True:
                row = yield
                annotation = Annotation(row[self.column])
                actions = annotation.tree.to_actions()
                self.vocab_builder.add_all(actions)
        except GeneratorExit:
            self.vocab = self.vocab_builder.make_vocab()
            print(self.vocab.idx)   # maybe the bug is here, s

[2019-10-17 01:34] snisarg commented on #1012
Thanks for the detailed traces. I can reproduce it now. There's something up with the tensorizer that I can't point by looking at the code. I'll prioritize this and debug to get results about this soon.

[2019-10-17 01:49] snisarg commented on #991
Either is fine as long as they're floats.

[2019-10-17 01:51] snisarg commented on #992
And what's the error raised? How can I reproduce this?

[2019-10-17 07:20] snakecy commented on #992
@snisarg  when the set is "target_prob": true ,the error raised as the title mentioned.

[2019-10-21 21:42] #498 closed

[2019-10-23 02:02] #919 closed

[2019-11-25 13:13] abercher commented on #879
There is a fix concerning the training failing and a pull request to add it to master:
[https://github.com/facebookresearch/pytext/pull/1151](url)
But the predict is still failing. Any known solution?

[2019-11-27 21:20] ButteredGroove commented on #296
Greetings!  Any progress on this?  Thank you!

[2019-11-30 08:17] p4rk3r commented on #879
Same problem with predict `(AttributeError: 'SemanticParsingTask' object has no attribute 'data_handler')` - Any hint on what the issue is?

[2019-12-02 15:30] shreydesai opened #1177 "BERT pretraining input format"
I'm wondering what the input format is for pretraining BERT/RoBERTa. If I have a large corpus (let's say Wikipedia and BooksCorpus put together), is each chunk of seq len 512 delimited by a `[SEP]` token? Is the `[CLS]` token used anywhere?

For example, if I had the following sentences and enforced a seq len of 5, would I end up with batches that look like this? For simplicity, I'm using regular

[2019-12-02 19:22] mwu1993 commented on #1177
Roughly speaking, yes that's right. Your data should be raw text and the data tensorizer should create something like you showed.

More specifically, follow the code in https://github.com/facebookresearch/pytext/blob/master/pytext/data/bert_tensorizer.py#L136 to see how the data is tensorized. The exact output format depends on the config values and the subclass of BERTTensorizerBase you're using.

[2019-12-02 19:24] #1177 closed

[2019-12-04 23:22] #1012 closed

[2019-12-07 15:37] DecentMakeover commented on #364
@JiesiZhao077 I noticed that we dont print the macro and micro f1 score , how can i print those?

[2019-12-07 16:35] DecentMakeover commented on #221
@habout632 hey even i want to print the prf1 score, did you manage to get it working?

[2019-12-08 06:29] DecentMakeover opened #1185 "Printing F1Micro/F1Macro during Evaluation."
I want to print F1 Micro and F1 macro metrics during evaluation.How could i do that?Any suggestion would be helpful.Thanks.

[2019-12-09 18:48] mwu1993 commented on #1185
If you mean printing during validation (every epoch of training), then https://github.com/facebookresearch/pytext/blob/master/pytext/metrics/__init__.py#L232 is where the prints are happening. The `print` method for the `macro_prf1_metrics` attribute is already implemented in https://github.com/facebookresearch/pytext/blob/master/pytext/metrics/__init__.py#L178, so you could probably just call tha

[2019-12-09 18:50] #1185 closed

[2019-12-26 06:40] deepali-c commented on #879
Observed this issue with `pytext v0.3.0` as well.

[2019-12-26 12:09] deepali-c opened #1215 "keyerror while executing Multitask training with disjoint datasets"
## Steps to reproduce
Executed Multitask training with disjoint datasets as described at - https://pytext.readthedocs.io/en/master/disjoint_multitask_tutorial.html with pytext v0.3.0

## Observed Results
Observed following error at the test stage:
[code]

## Expected Results
The training should succeed.

[2019-12-28 16:54] jiangxiluning opened #1216 "How to specify batch_size and num_worker"
Hi, pytext's documents are really poor. Can anybody tell me how can I specify the batch_size of training, val and testing, and How to specify the num_workers for dataloader?

[2019-12-29 05:07] jiangxiluning opened #1217 "dist training is not work from user defined task"
I changed the distributed_world_size to 1, the training is running properly. However, it failed with 2.

Below is my config.
[code]

https://github.com/jiangxiluning/pytext_demo

this is my code repo. You can run with below commands
[code]

[2019-12-29 05:22] jiangxiluning commented on #1217
@hudeven @chenyangyu1988  da lao can you guys help me ?

[2020-01-01 20:18] timgates42 opened #1218 "Fix simple typo: valus -> value"
There is a small typo in pytext/docs/source/create_new_model.rst.
Should read `value` rather than `valus`.

[2020-01-02 17:10] #1218 closed

[2020-01-04 13:20] pku-wuwei opened #1220 "ADD roberta_public.pt1"
## Steps to reproduce

I am trying to use the RoBERTaNERTask for NER task. So I ran `pytext gen-config RoBERTaNERTask` to generate default config file and twinkle it with personal settings. With the `pretrained_encoder.load_path`, I tried to trace the Roberta model given in fairseq, and use it in the experiment, but it does not work.

Could you please provide the traced Roberta model which default

[2020-01-11 14:33] himanshuteotia opened #1228 "Getting error RuntimeError: [enforce fail at load_save_op.h:449] db_name_.size() > 0. 0 vs 0. Must specify a db name."
## Steps to reproduce

  1. when running this command `pytext export --output-path exported_model.c2 < configs/docnn.json` getting an error and it is not saving caffe2 model

## Observed Results

![Screenshot from 2020-01-11 20-02-02](https://user-images.githubusercontent.com/10083136/72205832-6e231180-34ad-11ea-8a9a-c8db9e002613.png)

## Expected Results

It should save  caffe2 model in my direct

[2020-01-14 19:46] mwu1993 commented on #1215
can you share the final config for this run?

[2020-01-14 19:49] mwu1993 commented on #1216
batch sizes are in `data.batcher.{train,eval,test}_batch_size`. What do you mean by num_workers?

[2020-01-14 20:37] mwu1993 commented on #1049
Turns out since the "dense" field can only be "FloatListTensorizer", you don't need to include it. So

"dense": {
"column": "dense_feat",
"dim": 48,
"error_check": false,
"normalize": false
}

should work.

[2020-01-14 20:37] #1049 closed

[2020-01-14 21:27] mwu1993 commented on #1220
Can you try using

`
"model": {
    "RoBERTaEncoder": {
        "model_path": ...
    }
}
`

instead of RobertaEncoderJIT?

[2020-01-14 23:24] ButteredGroove commented on #879
Still has error with current master branch (0.3.1) of pytext.

### Install
[code]

### Config file (top.json)
[code]
### Training
[code]
### Predict output using tutorial (key is "text")
[code]
### Predict output using column_to_read (key is "tokenized_text")
[code]

[2020-01-15 19:21] ButteredGroove opened #1231 "When running pytest, text_model_exporter_test.py aborts"
## Steps to reproduce
System: Python 3.6.7, CentOS Linux release 7.6.1810

1. Install as per https://pytext.readthedocs.io/en/master/installation.html
[code]
2. Install pytest
[code]
3. Run pytest
[code]

## Observed Results
[code]
## Expected Results

Successful test

[2020-01-15 21:32] ButteredGroove commented on #1231
If I install the nightly version of PyTorch (currently 1.5) the pytest tests complete without aborting, but with errors.
PyTorch Linux-GPU install:
`pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cu101/torch_nightly.html`

pytest run:
[pytext_pytest.txt](https://github.com/facebookresearch/pytext/files/4067632/pytext_pytest.txt)

[2020-01-16 05:30] #1228 closed

[2020-01-19 15:51] jiangxiluning commented on #1216
@mwu1993 num_workers is to specify dataloader worker processes

[2020-01-19 16:21] jiangxiluning opened #1232 "whese is _round_robin_process_groups?"
https://github.com/facebookresearch/pytext/blob/7d38355e4d86afc80d2f29fbb1781a46c5c6ccd2/pytext/utils/distributed.py#L42

[2020-01-21 19:01] mwu1993 commented on #1216
I don't think we have such a parameter (at least in the new design), as we don't use the pytorch dataloader. `distributed_world_size` specifies the number of workers for both training and loading data.

[2020-01-21 19:01] #1216 closed

[2020-01-21 19:04] mwu1993 commented on #1232
diff was https://github.com/facebookresearch/pytext/commit/151be724b91f41f446f131754e5b21451312c81a, either @chenyangyu1988 or the pytorch docs might be able to help further.

[2020-01-24 06:16] jiangxiluning commented on #1232
[code]
my pytorch is 1.3.1, but I cannnot fund _round_robin_process_groups method.
@mwu1993

[2020-01-24 22:20] chenyangyu1988 commented on #1232
@jiangxiluning  https://github.com/facebookresearch/pytext/blob/9f705f44a05f6b58b4b58d0327a1ef57f94551b5/pytext/utils/distributed.py

[2020-01-25 09:20] jiangxiluning commented on #1232
@chenyangyu1988 you actually import '_round_robin_process_groups' from torch, but indeed it dosenot exist.

[code]

[2020-01-28 06:41] pietern commented on #1232
It's available on unstable. If PyText supports 1.3.1, it should gracefully degrade if it can't find the function.

[2020-01-28 08:42] jiangxiluning commented on #1232
so which pytorch version should I use ? @pietern @chenyangyu1988
I cannot find this method in pytorch's master branch also.

[2020-01-28 09:16] pietern commented on #1232
It's in the nightly releases and perhaps also in 1.4 (not sure).

See https://github.com/pytorch/pytorch/commit/0282c5ae6996584b908946cb694b02443dfd3c9a for the commit.

[2020-01-28 10:21] jiangxiluning commented on #1232
@pietern 1.4.0 does not have it. How could pytext release include this unstable feature ???  And even make any suggestion ?
![image](https://user-images.githubusercontent.com/1797038/73255014-6b892180-41fa-11ea-8f86-ddfc91245537.png)

[2020-01-29 14:01] sai-prasanna commented on #774
@Titousensei  Can I give a merge request for this? Or is there a better way to do this?
I am getting the same error, which is resolved by adding current dir to sys path.

[2020-01-31 10:15] knuser opened #1241 "Missing xlm_r_tutorial.ipynb"
In docs [1] can be found link to tutorial [2], is dead
[1] https://github.com/facebookresearch/pytext/blob/master/pytext/docs/source/xlm_r.rst
[2] https://github.com/facebookresearch/pytext/blob/master/demo/notebooks/xlm_r_tutorial.ipynb

Where can I found `xlm_r_tutorial.ipynb`?

[2020-01-31 22:53] hudeven commented on #1241
@kartikayk could you add it back?

[2020-03-09 13:18] nooralahzadeh commented on #1241
Hi,
any update for this issue?

[2020-04-09 12:33] deepali-c opened #1311 "Error with Hierarchical intent and slot filling sample"
## Steps to reproduce
1. Execute the Hierarchical intent and slot filling sample with smaller dataset.

## Observed Results
Observed the following error:
[code]
  * What happened?  This could be a description, log output, etc.
## Expected Results
The sample should sucessfully run.
[code]

[2020-04-09 13:20] deepali-c opened #1312 "documentation needs change for no longer supplied config sst2.json"
Documentation change requested:
In `pytext v0.3.1` among the sample config files `sst2.json` is not supplied. This is referenced in the documentation for https://pytext.readthedocs.io/en/master/disjoint_multitask_tutorial.html#train-a-base-model

[2020-04-13 13:42] deepali-c opened #1315 "support for huggingface/transformers"
As `pytorch-pretrained-bert` is now `huggingface/transformers` do we plan to migrate to `transformers`?

[2020-04-15 00:50] hudeven commented on #1241
@nooralahzadeh it's recovered now. https://github.com/facebookresearch/pytext/pull/1305

[2020-04-15 00:50] #1241 closed

[2020-04-15 09:46] threefoldo commented on #1315
I'm working on something similar. Simpletransformers make it simpler to use transformers, but its design is too simple, hard to make any change. I want to use pytext to do what it does.

[2020-04-21 17:32] jeanm commented on #894
Closing this as we haven't heard back, and the link to the config file is broken. Feel free to reopen if the problem persists.

[2020-04-21 17:34] jeanm commented on #462
Closing this issue as stale. Please feel free to reopen if the problem persists even with the config change suggested above.

[2020-04-21 17:34] #462 closed

[2020-04-23 03:09] #191 closed

[2020-05-02 11:16] avinashsai opened #1348 "[Feature request] Add Yogi optimizer"
Yogi optimizer is proposed to overcome the disadvantages of Adam (https://papers.nips.cc/paper/8186-adaptive-methods-for-nonconvex-optimization). I would like to add this optimizer to pytext. I have the prototype ready. Please, share your thoughts on whether it is relevant to add.

[2020-05-21 23:12] salkola opened #1365 "Segmentation fault: 11"
Following the [installation directions](https://pytext.readthedocs.io/en/master/installation.html)
[code]
gives a segmentation fault when training a PyText model. For example, when I train a model for the [clinical trial parser project](https://github.com/facebookresearch/Clinical-Trial-Parser) using a command
[code]
it fails with:
[code]

The segmentation fault disappears when I install PyText us

[2020-07-21 16:02] randywang123 commented on #1365
@salkola Thanks for pointing that question out. I have the same segmentation fault. However, the upgrading onnx and torch solution doesn't work on my anaconda environment. The latest version of torch is `1.5.1` but the requirement for pytext is `1.5.0`. I was using the same command as you mentioned in the related issue but `pip install pytext-nlp` would remove everything that is not compatible wit

[2020-08-03 19:31] orestxherija opened #1414 "PathManager issue when using version 0.3.2. on Google Colab"
## Steps to reproduce

  1. Open a new Google Colab notebook and set the **runtime type** to `GPU`
  2. Install PyText 0.3.2 via `!pip install --quiet git+https://github.com/facebookresearch/pytext@v0.3.2`
  3. Import PyText with `import pytext`

## Observed Results

[code]

  * What did you expect to happen?

When I had installed `pytext` in the past, I did not get the error portion about `PathMa

[2020-08-03 19:52] orestxherija opened #1415 "Segmentation fault when using PyText 0.3.3 on Google Colab"
## Steps to reproduce

  1. Open a new Google Colab notebook and set the **runtime type** to `GPU`
  2. Install latest version of PyText via `!pip install --quiet git+https://github.com/facebookresearch/pytext`
  3. Import PyText with `import pytext`
  4. Clone PyText repository via `!git clone https://github.com/facebookresearch/pytext.git`
  5. Move `pytext/tests/` directory to Google Colab's ho

[2020-08-30 07:16] haowang1992 opened #1436 "Mask is not using in the attention calculation"
https://github.com/facebookresearch/pytext/blob/49a45b7f53312e01d4f828cbad13eda4846ff117/pytext/models/representations/transformer/multihead_linear_attention.py#L60

How to use the mask in Linformer?@sinonwang

[2020-09-01 13:05] ritwik12 commented on #229
@Titousensei I would like to work on this. Is there anyone else working on this? If no then please help me with the code Infrastructure so that I can focus on correct files to make changes.

[2020-09-01 13:09] ritwik12 commented on #229
Also, how would we like this feature to be? Passed as a new system argument say `--sentences`, `--all` etc, and provide a List of batches or a file consisting of batches in json?

[2020-09-07 12:47] ritwik12 commented on #229
@chenyangyu1988

[2020-10-08 12:53] mrqwertyuiop commented on #234
still open?

[2020-10-08 13:05] #234 closed

[2020-10-08 13:26] mrqwertyuiop commented on #234
thank you @aatkinson

[2020-10-12 06:41] baiziyuandyufei opened #1490 "export model-AttributeError: module 'torch.utils.data' has no attribute 'IterableDataset'"
## Steps to reproduce

  execute export model to caffe2 format model.
`pytext export --output-path exported_model.c2 < demo/configs/docnn.json`

## Observed Results

  * AttributeError: module 'torch.utils.data' has no attribute 'IterableDataset'
## Expected Results

  * the exported caffe2 format model

## Relevant Code

[code]

[2020-10-12 09:01] baiziyuandyufei opened #1491 "call predict interface error: segmentation fault"
## Steps to reproduce

  1. edit "test_predict.py" list below
  2. run `python test_predict.py demo/configs/docnn.json /tmp/model.caffe2.predictor`
  3. terminal input `hotel service too bad`

## Observed Results

  neg
  zsh: segmentation fault  python test_predict.py demo/configs/docnn.json /tmp/model.caffe2.predictor
## Expected Results

  neg

## Relevant Code
test_predict.py
[code]

[2020-10-12 09:17] baiziyuandyufei opened #1492 "pytext export --output-path exported_model.c2 < demo/configs/docnn.json can't get "exported_model.c2""
## Steps to reproduce

  1. run `pytext export --output-path exported_model.c2 < demo/configs/docnn.json `

## Observed Results

  * don't get the "exported_model.c2" in pytext folder.

[2020-10-14 01:03] lucaslrolim opened #1498 "Error running pytext on Google Colab - libcudart.so.10.2: cannot open shared object file: No such file or directory"
## Steps to reproduce

1. Open Google Colab and select GPU Runtime

2.
[code]
3. `!pytext`

## Observed Results

**Installation errors:**

[code]

**Pytext execution error:**

[code]

## Expected result

https://pytext.readthedocs.io/en/master/train_your_first_model.html

[2020-12-01 02:30] AschHarwood opened #1543 "Segmentation Fault (core dumped) on Azure VM"
## Steps to reproduce

  1. Set up and install pytext and dependencies on Azure VM based on instructions provided on pytext repository
  2. Run `pytext train < docnn_nst.json`

I should also note I got the exact same error using the terminal in a floydhub workspace with a PyTorch 1.5 environment as well as on AWS sagemaker with both the PyTorch and basic data science kernels. It worked just fine l

[2021-02-14 09:52] hungryjireh opened #1612 "Unable to Run Toy Example: `ModuleNotFoundError: No module named 'accelerators'`"
## Steps to reproduce

After a fresh install of `pytext`, in the cloned directory `pytext`, it isn't possible to execute `pytext train < demo/configs/docnn.json`.

## Observed Results

[code]

## Expected Results

I should be at least able to execute the example in the documentation.

## Relevant Code
[code]

[2021-04-01 16:54] erip opened #1663 "OSError: image not found when installing from source"
## Steps to reproduce

  1.  `git clone https://github.com/facebookresearch/pytext`
  2. `cd pytext`
  3. `python -m pip install .`
  4. `pytext`

## Observed Results

[code]
## Expected Results

This should not explode. 😄

[2021-04-29 12:27] yhcc opened #1682 "Code for ``Conversational Semantic Parsing``"
Do you have any plan to open-source the model used in the paper [Conversational Semantic Parsing](https://arxiv.org/pdf/2009.13655.pdf) ?

## Steps to reproduce

  1. _____
  2. _____
  3. _____

## Observed Results

  * What happened?  This could be a description, log output, etc.
## Expected Results

  * What did you expect to happen?

## Relevant Code

[code]

[2021-05-17 03:58] 13293151871 commented on #1663
same here, any updates?

[2021-06-11 23:51] joshuajnoble opened #1701 "Library error (padded_sequences) after installation"
## Steps to reproduce

  1. Install pytext using instructions at https://pytext.readthedocs.io/en/master/installation.html and https://github.com/facebookresearch/pytext
  2. Run pytext

## Observed Results

Error in pytorch:

[code]

## Expected Results

  * That pytext would run?

## Relevant Code

Calling on the command line

[code]

[2021-07-08 10:50] sy-LeeAP commented on #1612
I have the same problem when running Pytext in a new Google CoLab environment.

[2021-07-09 05:07] sy-LeeAP opened #1704 "ModuleError when running xlm_r_tutorial.ipynb"
Thanks for providing such a powerful tool for us! I am a freshman in NLP and I am interested in XLM-R recently. When I tried to run xlm_r_turorial.ipynb to get my start, I found it doesn't. It seems to exist a folder named pytorch to provide PathManager in my understanding, but there isn't. I think it is because of the version, so I also tried v0.3.2 just as this turorial showed, but there are als

[2021-07-23 08:13] anjali-chadha opened #1706 "No module named 'pytorch'"
## Steps to reproduce

Installed both torch and torchtext from the source code
- Torch version: '1.9.0a0+git854cc53'
- TorchText version: '0.11.0a0+05cb992'

- Install pytext from source
[code]

## Observed Results

  * What happened?  This could be a description, log output, etc.

[code]
## Expected Results

  * What did you expect to happen?
    No errors while importing pytext

Module causing t

[2021-07-27 02:02] anjali-chadha commented on #1706
@hudeven I came across a commit in June 2021 where you committed changes adding this import statement: https://github.com/facebookresearch/pytext/commit/7ec49a8aa26dbc174436da07ab78f1a591d4c2f0
[code]

Could you help with this issue?

Thanks!

[2021-07-27 02:12] anjali-chadha commented on #1704
@sy-LeeAP  Did you find a fix for this issue?

I am having similar errors while importing pytext when installed from source: https://github.com/facebookresearch/pytext/issues/1706

[2021-08-23 09:37] wangke1996 commented on #1706
same issue here.

[2021-11-16 12:06] lyan62 commented on #1706
same here, did you figure it out?

[2022-02-23 19:04] bbored commented on #1706
Renaming torch package to pytorch, I have no more the `module not found` error but I get the error:
`
 pytext_venv/lib64/python3.6/site-packages/pytorch/__init__.py", line 198, in <module>
    from pytorch._C import *  # noqa: F403
UnicodeDecodeError: 'utf-8' codec can't decode byte 0x81 in position 8: invalid start byte
`
or:

`RuntimeError: generic_type: cannot initialize type "TensorProtoDataTy

[2022-02-24 04:22] bbored commented on #1706
I guess our gpu is not supported from cuda or you don't have the right cuda version installed for torch.

[2022-02-28 08:28] DreamerDeo commented on #1706
Same problem here.

[2022-07-09 23:59] bhomass opened #1719 "ImportError: cannot import name 'metanet_pb2' from partially initialized module 'caffe2.proto'"
## Steps to reproduce

  1. git clone https://github.com/facebookresearch/Clinical-Trial-Parser.git
  2. install pytext by source https://pytext.readthedocs.io/en/master/installation.html#install-from-source
  3. go build ./...
  4. go test ./...
  5. pytext train < src/resources/config/ner.json

## Observed Results
from caffe2.proto import caffe2_pb2
File "/data/anaconda3/envs/pytext/lib/python3.

[2022-07-10 00:01] bhomass commented on #1719
I get the same error following the README in this repo by running

pytext export < demo/configs/docnn.json

[2022-07-15 03:22] supriyaarun27 commented on #1612
I have the same problem. Were you able to fix this?

[2022-07-21 22:22] supriyaarun27 commented on #755
Hi, I have the same questions both 1 & 2. Could you explain why you it's meaningless?

[2022-07-21 23:16] bhomass commented on #1706
no body ever fixed this? does not mean pytext is dead?

[2022-07-22 13:49] elbaro opened #1721 "Question on AUC-PR Hinge Loss"
In the implementation of "Scalable Learning of Non-Decomposable Objectives" at https://github.com/facebookresearch/pytext/blob/main/pytext/loss/loss.py ,

the positive weight is `1 + lambda * (1 - precision)` instead of `(1 + lambda) * (1 - precision)`.
The old implementation in the tensorflow repo (gone now) was also `1 + lambda * (1 - precision)`

To me (1 + lambda) looks like coming from the fo